<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.prj.cosm.material.morder.mapper.MorderMapper">
	<!-- 입고 리스트 전체 조회 -->
	<!-- input_id = Lot 대신 쓰는 개념. 사용자는 lot 번호로 보게됨 -->
	<select id="mioInputList" resultType="MorderVO">
		SELECT mio.mio_input_id AS input_id,
		m.m_no AS mio_no,
		m.m_name AS
		mio_name,
		mio.mio_input_Quantity AS mio_in_qntt,
		mio.mio_input_date AS mio_in_date,
		(SELECT code_name
		 FROM code
		 WHERE code_no = mio_in_mrg ) AS mio_in_mrg
		FROM material_io mio, material m
		WHERE m.m_no = mio.mio_no
		AND mio_inspection = 'B0105'
		<if test="startDate != null and endDate != null">
			AND TRUNC(mio.mio_input_date) BETWEEN #{startDate} AND #{endDate}
		</if>
		ORDER BY mio_input_date
	</select>

	<!-- 출고 리스트 전체 조회 -->
	<select id="mioOutputList" resultType="MorderVO">
		SELECT mio.mio_output_id
		AS output_id,
		m.m_no as mio_no,
		m.m_name as mio_name,
		mio.mio_output_Quantity AS mio_out_qntt,
		mio.mio_output_date AS
		mio_out_date,
		(SELECT code_name
		FROM code
		WHERE code_no = mio_out_mrg)AS
		mio_out_mrg
		FROM material_io mio JOIN material m
		ON m.m_no = mio.mio_no
		WHERE mio.mio_output_id IS NOT NULL
		AND mio.mio_output_Quantity != 0
		AND mio.mio_output_date IS NOT NULL
		ORDER BY mio_out_date
	</select>

	<!-- 입고 대기 리스트 전체 조회 -->
	<select id="getStandbyList" resultType="MorderVO">
		SELECT mo.mo_material_id,
			   mo.mo_name, 
			   mc.mc_company_name as mo_com_nm, 
			   mo.mo_num,
			   mio.mio_input_quantity as mio_int_qntt, 
			   mio_quality, 
               mio_inspection
		FROM material_order mo 
        JOIN material_company mc
				ON mc.mc_company_id = mo.mo_company_id
		JOIN material_io mio
				ON mio.mio_mo_order_id = mo.mo_order_id
        
	</select>
</mapper>