<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout.html}">
<head>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- style and js -->
<link rel="stylesheet" href="/equipmentCss/main.css"/>

</head>
<body>

	<div layout:fragment="content" style="height: 900px; overflow: scroll;  margin:15px;">
			  <h2>부품 관리</h2>

			  <div class="row">
			  
			        <div class="column">
			        
			          <div class="searchbox">
			            <div class="header">
						     <input onkeyup="filter()" style="float:right;" type="text" id="value" placeholder="Type to Search">
						 </div>
      				   </div>
						  <div id="part">
						  </div>
			        </div>
			        		
			  </div>


<script type="text/javascript">
/* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT */
/* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT */	





/*  부품 그리드  */	
	const partGrid = new tui.Grid({
			    el: document.querySelector('#part'),
			    pagination:true,
				pageOptions: {
					useClient: true,
					perPage: 10
				},
			    columns: [
			    {
			        header: '부품번호',
			        name: 'mno'
			    },
			    {
			        header: '부품명',
			        name: 'mname'
			    },
			    {
			        header: '부품수량',
			        name: 'mstock'
			    }
			/*  ,{
			        header: '적용설비',
			        name: 'partEquipName'
			    } */
			    ]
			});

/* 부품 리스트 불러오는 아작스 */

	url="/equipment/partList"
	fetch(url) 
	.then(res=>res.json())
	.then(obj=>{
	    console.log(obj);
	    partGrid.resetData(obj);
    
	})
	
/*
  
 // 변동 그리드  
		const partBuyGrid = new tui.Grid({
		    el: document.querySelector('#partBuy'),
		    pagination:true,
			pageOptions: {
				useClient: true,
				perPage: 4
			},
		    columns: [
		    {
		        header: '설비명',
		        name: 'equipName'
		    },
		    {
		        header: '고장발생일',
		        name: 'failDate'
		    },
		    {
		        header: '고장내역',
		        name: 'failContent'
		    },
		    {
		        header: '특이사항',
		        name: 'failPs'
		    }
		    ]
		});
		
*/


</script>
</div>
</body>
</html>