<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- style and js -->
<link rel="stylesheet" href="/equipmentCss/main.css"/>

</head>
<body>

	<div layout:fragment="content" style="height: 900px; overflow: scroll;  margin:15px;">
			  <h2>부품 관리</h2>
	  		  <div class="container" style="padding-top : 30px; padding-bottom: 30px">
			  <div class="row">
			  
			        <div class="column">
			        <h5>부품 재고 현황</h5>
			        	<hr style="visibility: hidden;">
			          <div class="searchbox">
			            <div class="header">
						 <button type="button"  style="float:left; pointer-events : none; margin-right: 5px;" class="btn btn-secondary btn-sm">
               			 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  						 <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
						</svg>
              			</button>    
						     <input onkeyup="filter()" autocomplete="off" class="filterInput" type="text" id="searchFilter" placeholder="부품명 입력...">
						    <!--  <button type="button" id="insertTBtn" 
						     style="float:right; display: inline-block; margin-right: 10px;" class="btn btn-dark btn-sm">발주요청</button> -->
						 
						 </div>
      				   </div>
						  <div id="part" style="padding-top : 40px;">
						  </div>
			        </div>
			        		
			  	</div>

	  		</div>  

<div class="modal fade" id="myModal">
		
		<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
	
			<!-- Modal Header -->
			<div class="modal-header">
			<h4 class="modal-title"><span id="whatPno"></span>부품 정보</h4>
			<button type="button" onclick="cancelUpdatePart()" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			
			<form id="updateForm" method="post">
	
			<!-- Modal body -->
			<div id="equipInfo" class="modal-body">
			<table class="table smallTd">
					<tr>
						<td></td>
							<td style="text-align: center;">
								<img name="partFile" style="border-radius: 10%;" >
							</td>
					</tr>
                    <tr>
						<td>부품명</td>
                        <td ><input class="form-control" id="selectPartName" name="partName" type="text" autocomplete="off" readonly></td>              
                    	
                    </tr>
                     <tr>
                        <td>재고수량</td>
                        <td><input class="form-control" id="selectPartStock" name="partStock" autocomplete="off" readonly> 	
                        	<input class="form-control" id="ps" style="display: none;" autocomplete="off" readonly>
                        </td>
                    </tr>
                   
                     <tr >
                        <td>사용수량</td>
                        <td><input class="form-control wu" id="selectPartStockUsed" style="text-align: right;"  name="partStockUsed"
                        		type="text" onkeyup="cal(this)" autocomplete="off" readonly>
                        </td>	
                    </tr>
                     <tr>
                        <td>적용설비</td>
                        <td><input class="form-control wu" id="selectPartEquipName" name="partEquipName"  autocomplete="off" readonly>
                        	<select class="form-control" id="sEquipNameSelect" style="display: none;" onchange="changeSelect(this.value,this.id);" required="required" >            							           
										           <option value="">선택되지 않음</option>
										           <option th:each="equip : ${equip}" >[[${equip.equipName}]]</option>
							</select>
                        </td>
                    </tr>
                    <tr>
                        <td>부품설명</td>
                        <td colspan="2">
                        	<textarea class="textarea form-control wu" id="selectPartInfo" name="partInfo" rows="5" autocomplete="off" readonly></textarea>
                        </td>
                    </tr> 

   
                                   
                </table>
			</div>
	
			<!-- Modal footer -->
			<div class="modal-footer">
			<input type="hidden" id="partNo" name="partNo"> <!-- 부품번호 업데이트 때문에 가져온 값. -->
			<button type="button" id="partUbtn1" class="btn btn-primary" onclick="updatePBtnClick()">수정</button>	
			<button type="button" id="partUbtn2"  class="btn btn-primary" style="display: none;" onclick="updatePart()">저장</button>	
			<button type="button" id="partUbtn3"  class="btn btn-danger" style="display: none;" onclick="cancelUpdatePart()">취소</button>	
			</div>
			
			</form>
	
		</div>
		</div>
	</div>

<script type="text/javascript">
/* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT */
/* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT *//* JAVASCRIPT */	

	
	
function cal(used){
	const first = document.getElementById('ps').value;
	const stock = document.getElementById('selectPartStock');
	stock.value = first; //초기화
	used.value = Number((used.value).replaceAll(',',''));
	
	stock.value = stock.value - used.value;
	
	if(parseInt(used.value) < 0 || isNaN(stock.value) || parseInt(stock.value) < 0){
		used.value = 0;
		stock.value = first;
	}
		 const formatValue1 = parseInt(stock.value).toLocaleString('ko-KR');
		 const formatValue2 = parseInt(used.value).toLocaleString('ko-KR');
		 stock.value = formatValue1;
		 used.value = formatValue2;
	  
}

function plzNum(){
	let stock = document.getElementById('selectPartStock');
	stock.value= Number(stock.value.replaceAll(',', ''));
}

function filter(){

        const search = document.getElementById("searchFilter")
		
		//const sf = document.querySelector('#searchFilter');
		
			
		const state = [{code: 'contain', value: search.value.toUpperCase()}];
			
		if(search.value == ''){	
			
			partGrid.unfilter('partName');
		
		}else {
			
			partGrid.filter('partName', state);
		}
		
}

/* 부품 수정 버튼 누른 함수 */
function updatePBtnClick() {
	
console.log("부품 수정 버튼 클릭");
document.getElementById('partUbtn1').style.display='none';
document.getElementById('partUbtn2').style.display='block';
document.getElementById('partUbtn3').style.display='block';
document.getElementById('selectPartStockUsed').style.display='block';
document.getElementById('selectPartStockUsed').value=null;
document.getElementById('selectPartStockUsed').setAttribute("onkeyup","cal(this)");
document.getElementById('selectPartStockUsed').setAttribute("placeholder", "사용한 수량 입력");
document.getElementById('sEquipNameSelect').style.display='block';
document.getElementById('selectPartEquipName').style.display='none';

const wu = document.getElementsByClassName('wu');
 console.log(wu);
 for (var i = 0; i< wu.length; i++){
	 wu[i].readOnly =  false;
 	 wu[i].required = true;
 }
}

/* 부품 수정 함수 */	

function updatePart() {
	
	
	
	
		Swal.fire({
			
			   title: '입력하신 대로 \n부품을 수정 처리하시겠습니까?',
			   text: '',
			   icon: 'question',
			   
			   showCancelButton: true, // cancel버튼 보이기. 기본은 원래 없음
			   confirmButtonColor: '#3085d6', // confrim 버튼 색깔 지정
			   cancelButtonColor: '#d33', // cancel 버튼 색깔 지정
			   confirmButtonText: '승인', // confirm 버튼 텍스트 지정
			   cancelButtonText: '취소', // cancel 버튼 텍스트 지정
		   					   
		}).then(result => {
			
			 plzNum(); // number 타입 맞춰주기
			 const form = document.getElementById('updateForm');
			 let formValid = form.checkValidity();
			 
			 if(formValid == true){
						 const data = new FormData(form);
						 console.log("최종수정 아작스 전송");
							
						 	 url="/equipment/updatePart";
							 fetch(url, {method: 'POST', body : data, headers: {
						         			'header' : header,
							     			'X-CSRF-Token': token }})
							    .then(res=>res.json())
							    .then(obj=>{
							        console.log(obj);
							        $('#myModal').modal('hide');
							        Swal.fire('수정이 완료 되었습니다','', 'success');
							        getPartList();
							        cancelUpdatePart();
						    
						    })
						    
				}else Swal.fire('내용을 제대로 입력해주세요','','warning');
		
		})
		
	
	      		
}

/* 설비명 선택하게 하는 함수 */ 
function changeSelect(val,id) { 
		let tag = document.getElementById(id);
		console.log(tag.previousElementSibling.id);	
		tag.previousElementSibling.value = val;
	}
	

/* 부품 수정 취소 함수 */

function cancelUpdatePart() { // 되감기^^

	console.log("수정 취소버튼 클릭");
	document.getElementById('partUbtn1').style.display='block';
	document.getElementById('partUbtn2').style.display='none';
	document.getElementById('partUbtn3').style.display='none';
	document.getElementById('selectPartStockUsed').value=null;
	document.getElementById('selectPartStockUsed').removeAttribute("placeholder");
	document.getElementById('selectPartStockUsed').removeAttribute("onkeyup");
	document.getElementById('sEquipNameSelect').style.display='none';
	document.getElementById('selectPartEquipName').style.display='block';
	 const wu = document.getElementsByClassName('wu');
	 
	 for (var i = 0; i< wu.length; i++){
		 wu[i].readOnly = true;	
	 	 wu[i].required = false;
	}
	
}

/*  부품 그리드  */	
	const partGrid = new tui.Grid({
			    el: document.querySelector('#part'),
			   // rowHeaders: ['rowNum', 'checkbox'],
			    scrollX:false,
			    scrollY:false,
			    columns: [
			    {
			        header: '부품번호',
			        name: 'partNo',
			        width: '100'
			        ,align : 'center'
			        /* ,formatter: function(value) {
				                return 'COSP '+value.value; // 3자리 마다 
					} */		        
			    },  
			    {
			        header: '부품명',
			        name: 'partName'
			        ,align : 'center'
			        ,filter : 'text'
			    },
			    {
			        header: '적용설비',
			        name: 'partEquipName'
			        ,align : 'center'
			       
			    },  
			    {
			        header: '재고수량',
			        name: 'partStock'
			        ,align : 'right'
			 		,formatter: function(value) {
			 	                return value.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); // 3자리 마다 
			 		}
			    },
			    {
			        header: '부품단위',
			        name: 'partCode'
			        ,align : 'center'
			    }
			/*  ,{
			        header: '적용설비',
			        name: 'partEquipName'
			    } */
			    ]
			});


getPartList(); 
function getPartList() {
/* 부품 리스트 불러오는 아작스 */

	url="/equipment/partList"
	fetch(url) 
	.then(res=>res.json())
	.then(obj=>{
	    console.log(obj);
	    partGrid.resetData(obj);
    
	})
}
	tui.Grid.applyTheme("normal", {
    cell : {
       nomal : {
          background : "#fff",
          border : "#e0e0e0",
          showVerticalBorder : false,
          showHorizontalBorder : true
       },
       header : {
          background : "#eaeaea",
          border : "#e0e0e0",
          showHorizontalBorder : true
       },
       rowHeader : {
          background : "#eaeaea",
          border : "#e0e0e0",
          showVerticalBorder : false,
          showHorizontalBorder : true
       },
    },

 });

	tui.Grid.applyTheme('custom', { 
		  row: { 
		    hover: { 
		      background: '#dcdfec' 
		    }
		  }
	});

	
	 /* 부품 그리드 셀 클릭-> 모달 팝업 이벤트 */
	 
    partGrid.on('click', ev => {
    	const pnoRow = partGrid.getRow(ev.rowKey); // 행 (객체)
    	const pno = pnoRow.partNo; // 행의 공정번호
    	
    	
    	 if (partGrid.getRow(ev.rowKey) != null && ev.columnName != '_checked' && ev.columnName != '_number') { // checkbox 클릭시, 모달 안 뜨게끔
           
    	
    	console.log(pno);
   	/* if(equip.getValue(ev.rowKey,ev.columnName) == equipInfo)) */
    	console.log(ev);
    	
    	if(ev.rowKey == pnoRow.rowKey){
			if(pno != null){
	    	const myModal = new bootstrap.Modal('#myModal',{backdrop: 'static', keyboard:false})
	    	// 생성 시 모달 속성을 넣어줍니다.
	    	const modalToggle = document.getElementById('myModal'); 
	    			
	    	myModal.show(modalToggle);
	    	
	    	getPart(pno);
			document.getElementById('whatPno').innerText=pno+"번 ";

			}
    	}
    	 }
	});

	/*  부품 단건조회 불러오는 아작스 함수 */

    function getPart(partNo) {
	
    url="/equipment/getPartInfo?partNo="+partNo // get방식이라 ?equipNo=
    fetch(url) 
    .then(res=>res.json())
    .then(obj=>{
        console.log(obj);
   
        document.querySelector('#selectPartName').value=obj.partName;
        document.querySelector('#selectPartInfo').value=obj.partInfo;
     // 숫자 자리에 콤마 찍기	
        const stock = document.querySelector('#selectPartStock');
        document.querySelector('#ps').value=obj.partStock;
		stock.value = obj.partStock.toLocaleString('ko-KR');
		stock.style.textAlign='right';
		
        document.querySelector('#selectPartEquipName').value=obj.partEquipName;
       // document.querySelector('#selectPartCode').value=obj.partCode;
        document.querySelector('#partNo').value=obj.partNo;
        
        /* 파일이 존재하면 업로드한 이미지 띄우기, 존재하지 않으면 no Image 띄우기*/ 
        if(obj.partFile != null){ 
       	$('[name="partFile"]').attr("src", "/equipment/filedown?fname=" +obj.partFile);
       	$('[name="partFile"]').css("width", "50%");
        }else{
         $('[name="partFile"]').attr("src", "/assets/img/noImage.jpg" );  
         $('[name="partFile"]').css("width", "50%");

        }
 
    })
    
	}

document.querySelector('.tui-grid-btn-filter').style.display='none';

</script>
</div>
</body>
</html>