<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prj.cosm.sales.client.mapper.ClientMapper">
	<!-- 주문조회 -->
	<select id="getOrderList" resultType="ClientVO">
		select o.order_no,
		(select
		goods_name from produce_goods p where p.goods_no = o.goods_no)
		as
		product,
		o.total_num, o.total_price,
		(select client_name from client c
		where c.users_no = o.client_name) as client
		from orders o
	</select>
	
	<!-- 주문 등록 -->
	<!-- ORDER_CODE - 신규,불량,재주문 추가하기 -->
	<insert id="insertOrder" parameterType="ClientVO">

		<selectKey order="BEFORE" keyProperty="orderNo"
			resultType="String">
			<if test="orderNo == null"> SELECT 'COO_' ||
				LPAD(NVL(MAX(SUBSTR(order_no,-4)),0)+1,4,0)
				FROM orders
			</if>
		</selectKey>
		INSERT INTO orders (
		ORDER_NO,
		GOODS_NO,
		CLIENT_NAME,
		DELIVERY_DATE,
		TOTAL_NUM,
		NOTE,
		TOTAL_PRICE
		)
		values (
		#{orderNo},
		(select GOODS_NO from produce_goods where GOODS_NAME=#{goodsName}),
		#{usersNo},
		#{deliveryDate},
		#{totalNum},
		#{note},
		#{totalPrice}
		)
	</insert>
	

	<!-- 회원 등록 -->
	<insert id="clientIn" parameterType="ClientVO">
		INSERT INTO client(

		client_name


		,business_no

		,license_img

		,users_no

		,open_date

		) VALUES(

		#{clientName}

		,#{businessNo}

		,#{licenseImg}

		,#{userNo}


		,#{openDate}

		)
	</insert>


	<!-- 조회 -->
	<select id="myInfo" resultType="ClientVO">
		select * from client order by
		client_no
	</select>
	<!-- 수정 -->
	<update id="updateMy">

	</update>

	<!-- 삭제 -->
	<delete id="deleteMy">
		DELETE FROM client where client_no = #{clientNo}

	</delete>
</mapper>