<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prj.cosm.sales.orders.mapper.OrdersMapper">
	<!-- 주문번호순으로 정렬 - public int getOrderNo(); -->
	<select id="getOrderNo" resultType="Integer">
		select max(substr(order_no,
		-4,4)+1) from orders
	</select>


	<!-- 주문 전체조회 -->
	<select id="getOrderList" resultType="OrdersVO">
		select * from orders
		ORDER
		BY
		order_no
	</select>


	<!-- 주문 단건조회 -->

	<select id="getOrderInfo" parameterType="Integer"
		resultType="ordersVO">
		SELECT * FROM orders
		WHERE ORDER_NO = #{orderNo}
	</select>



	<!-- 주문 등록 -->
	<!-- ORDER_CODE - 신규,불량,재주문 추가하기 -->
	<insert id="insertOrder" parameterType="OrdersVO">
	<!-- selectKey는 없는 정보만 들고올 때 
		<selectKey order="BEFORE" keyProperty="orderNo"
			resultType="String">
			<if test="orderNo == null"> SELECT 'COO_' ||
				LPAD(NVL(MAX(SUBSTR(order_no,-4)),0)+1,4,0)
				FROM orders WHERE order_no LIKE 'COO_'||TO_CHAR(SYSDATE,'rrrr')||'%'
			</if>
			<if test="productNo">
			</if>
		</selectKey>
	-->
	<!--  
	ORDER_NO,
		PRODUCT_NO,
		ORDER_DATE,
		DELIVERY_DATE,
		TOTAL_NUM,
		PRO_PRICE,
		SURTAX,
		NOTE,
		ORDER_CODE,
		ORDER_PROGRESS_CODE,
		DELIVERY_INFO,
		IO_CODE,
		TOTAL_PRICE,
		USERS_NO
		 -->
		INSERT INTO orders (
		ORDER_NO,
		product_no,
		total_num,
		note,
		total_price
		)
		values (

		#{orderNo},
		#{productNo},
		#{totalNum},
		#{note},
		#{totalPrice}
		)
	</insert>


	<!-- 주문 내역삭제 -->
	<delete id="deleteOrder" parameterType="Integer">
		DELETE FROM orders where
		ORDER_NO = #{orderNo}
	</delete>

	<!-- 체크박스 단건삭제 -->
	<delete id="deleteCheck" parameterType="String">
		DELETE FROM orders where
		ORDER_NO = #{noList}
	</delete>

	<!-- 생산 접수 버튼 이벤트 -->
	<!-- recNos값 하나만 들고와줘서 주기만 하면됨 -->
	<update id="recNos">
		UPDATE orders SET ORDER_CODE = '접수' WHERE order_no IN
		<foreach collection="vo" item="recNos" open="(" close=")"
			separator=",">
			#{recNos.orderNo}
		</foreach>
	</update>


	<!-- 주문수정(주문 신규/재주문 상태) (출고 상황) (배송상황) -->
	<!-- <if test="title != null and !title.equals('')"> title = #{title}, </if> -->
	<update id="updateOrder" parameterType="OrdersVO">
		UPDATE orders
		<set>
			<if
				test="orderProgressCode != null and !orderProgressCode.equals('')">
				order_progress_code = #{orderProgressCode}
			</if>
			<if test="deliveryInfo != null and !deliveryInfo.equals('')">
				,delivery_info = #{deliveryInfo}
			</if>
			<if test="ioCode != null and !ioCode.equals('')">
				, io_code = #{ioCode}
			</if>
		</set>
		WHERE order_no = #{orderNo}
	</update>

</mapper>