<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />

<script
	src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>

</head>
<body>
	<div layout:fragment="content">
		<hr style="width: 100%">
		<h3 style="text-align: center">완제품 리스트</h3>
		<br>
		
 		<input onkeyup="filter()" type="date" id="datePicker" class="form-control" style="width: 30%; float: right" />
		
		<div id="grid"></div>


	<script>
	
	
	function filter(){ // 토스트그리드 필터이용 검색함수

		const search = document.getElementById("datePicker") //인풋태그
		      
		const state = [{code: 'contain', value: search.value.toString()}];
		         
		      if(search.value == ''){   
		         
		    	  grid.unfilter('REGIST_DATE');
		      
		      }else {
		          
		    	  grid.filter(('REGIST_DATE').toString(), state);
		      }
		      
		}
	window.onload = function () {
		//완제품리스트 가져오기
		registList();
	}
	var grid = new tui.Grid({
		el: document.getElementById('grid'),
		rowHeaders: ['checkbox'],
		minBodyHeight: 30,
		pageOptions: {
			useClient: true, // front에서만 페이징 하는 속성
			perPage: 10
		},
		scrollX: false,
		scrollY: false,
		columns: [
			{
				header: 'LOT넘버',
				name: 'REGIST_LOT',
				filter: {
				       type: 'select',
				        showApplyBtn: true,
				        showClearBtn: true
				      },
				align : 'center'
			},
			{
				header: '제품번호',
				name: 'REGIST_PRODUCT_NO',
				align : 'center'
			},	
			{
				header: '바코드 라벨',
				name: 'REGIST_LABEL',
				align : 'center'
			},
			{
				header: '등록수량',
				name: 'REGIST_QUANTITY',
				align : 'center'
			},
			{
				header: '불량수량',
				name: 'REGIST_ERROR',
				align : 'center'
			},	
			{
				header: '등록일자(desc)',
				name: 'REGIST_DATE',
				sortingType: 'desc',
				sortable: true,
				align : 'center',
				filter : 'text'
			},
			{
				header: '지시번호',
				name: 'REGIST_INSTRUCT_NO',
				align : 'center'
			},	
			
			{
				header: '단위코드',
				name: 'CODE_NO',
				align : 'center'
			},	
			{
				header: '검수여부',
				name: 'INSPECTION',
				align : 'center'
			},	
			],
		
		});
	
	//완제품리스트 가져오기
	function registList(){
		$.ajax({
			url: "/completedList",
			method: "GET",
			dataType: "JSON",
			success: function (result) {
				console.log(result);
				for (let regist of result) {
					regist.REGIST_DATE = String(regist.REGIST_DATE).substr(0, 10);
				}
				grid.resetData(result);
			},
			error: function (reject) {
				console.log(reject);
			}
		});
	}
	</script>
	</div>
</body>
</html>