<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


</head>
<body>
	<div layout:fragment="content"
		style="margin-left: 80px; margin-right: 80px;">
		<hr style="width: 100%">
		<h3>제품 리스트</h3>
		<button type="button" class="btn btn-dark btn-sm" style="float: right"
			id="delbtn">제품 삭제</button>
		<button type="button" onclick="updateData();" id="updateBtn"
			class="btn btn-dark btn-sm" data-bs-toggle="modal"
			data-bs-target="#requestModala" style="float: right">제품 수정</button>
		<button type="button" class="btn btn-dark btn-sm" id="selectBtn"
			data-bs-toggle="modal" data-bs-target="#requestModal"
			style="float: right">제품 등록</button>
		<div id="grid"></div>
		
		<!-- 제품 등록 모달 -->
		<div class="modal fade" id="requestModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-l">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">제품 등록</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close" ></button>
					</div>
					<form action="/produce/goodsInsert" method="post" id="insertFrm">
						<!-- <sec:csrfInput/> -->
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<div class="modal-body">
							<div>
								<div class="input-group mb-3">
									<span class="input-group-text">제품번호</span> <input type="text"
										class="form-control" id="goodsNo" name="goodsNo"
										aria-label="Username" aria-describedby="basic-addon1"
										readonly="readonly">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">제품명</span> <input type="text"
										class="form-control" id="goodsName" name="goodsName"
										placeholder="제품명" aria-label="Username"
										aria-describedby="basic-addon1">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">제품기준수량</span> <input
										type="number" class="form-control" placeholder="제품기준수량"
										id="goodsStandard" name="goodsStandard" aria-label="Username"
										aria-describedby="basic-addon2">
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">제품 검수기준</span> <select
										id="goodsCheck" name="goodsCheck" class="form-select">
										<option selected>단위별수량</option>
										<option>질량대비수량</option>
										<option>품질</option>
									</select>
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">제작기간</span> <input type="text"
										class="form-control" placeholder="제작기간" name="goodsDate"
										id="goodsDate" aria-label="Username"
										aria-describedby="basic-addon4">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">단위코드</span> <select
										id="unitCode" name="unitCode" class="form-select">
										<option th:each="unit : ${unit}">[[${unit.codeName}]]</option>
									</select>
								</div>
								<div class="input-group">
									<span class="input-group-text">제품설명</span>
									<textarea class="form-control" id="goodsContents"
										name="goodsContents" aria-label="With textarea"></textarea>
								</div>

								<div id="requestModalGrid" style="width: 100%;"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="alertStart">등록</button>
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">취소</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- 제품 수정 모달 -->
		<div class="modal fade" id="requestModala" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-l">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">제품 정보 수정</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<form action="/produce/goodsUpdate" method="post" id="insertFrm2">
						<!-- <sec:csrfInput/> -->
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<div class="modal-body">
							<div>
								<div class="input-group mb-3">
									<span class="input-group-text">제품번호</span> <input type="text"
										class="form-control" id="goodsNo2" name="goodsNo"
										aria-label="Username" aria-describedby="basic-addon1"
										readonly="readonly">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">제품명</span> <input type="text"
										class="form-control" id="goodsName2" name="goodsName"
										aria-label="Username" aria-describedby="basic-addon1">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">제품기준수량</span> <input
										type="number" class="form-control" id="goodsStandard2"
										name="goodsStandard" aria-label="Username"
										aria-describedby="basic-addon2">
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">제품 검수기준</span> <select
										id="goodsCheck2" name="goodsCheck" class="form-select">
										<option selected>단위별수량</option>
										<option>질량대비수량</option>
										<option>TPA농도</option>
									</select>
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">제작기간</span> <input type="text"
										class="form-control" name="goodsDate" id="goodsDate2"
										aria-label="Username" aria-describedby="basic-addon4">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">단위코드</span> <select
										id="unitCode2" name="unitCode" class="form-select">
									<option th:each="unit : ${unit}">[[${unit.codeName}]]</option>
									</select>
								</div>
								<div class="input-group">
									<span class="input-group-text">제품설명</span>
									<textarea class="form-control" id="goodsContents2"
										name="goodsContents" aria-label="With textarea"></textarea>
								</div>

								<div id="requestModalGrid" style="width: 100%;"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="alertStart2">수정</button>
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">취소</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<script>
			window.onload = function() {
				// 제품번호 +1 로 등록
				var info = '[[${info.goodsNo}]]';
				$('#goodsNo').val(info)

				goodsList();
					
				//체크박스 하나만 선택
				grid.on('check', (ev) => {
					for(let i=0;i<$('#grid input:checkbox[name="_checked"]').length;i++){
						if(i!=`${ev.rowKey}`){
							grid.uncheck(i);
							$('#updateBtn').prop('disabled', false);
							$('#delbtn').prop('disabled', false);
							$('#selectBtn').prop('disabled', true);
						}
					}
					
				});
				grid.on('uncheck', (ev) => {
					$('input:text').val('');
					$('#updateBtn').prop('disabled', true);
					$('#delbtn').prop('disabled', true);
					$('#selectBtn').prop('disabled', false);
				});	
				$('#updateBtn').prop('disabled', true);
				$('#delbtn').prop('disabled', true);
				$('#selectBtn').prop('disabled', false);
			
				$('#grid span').remove();
				
				
			}
	
			//제품정보리스트 그리드
			var grid = new tui.Grid({
				el : document.getElementById('grid'),
				rowHeaders : [ 'checkbox' ],
				minBodyHeight : 30,
				pageOptions : {
					useClient : true, // front에서만 페이징 하는 속성
					perPage : 5
				},
				scrollX : false,
				scrollY : false,
				columns : [ {
					header : '제품번호',
					name : 'goodsNo',
					filter : {
						type : 'select',
						showApplyBtn : true,
						showClearBtn : true
					},
				}, {
					header : '제품명',
					name : 'goodsName',
					align : 'center'
				}, {
					header : '제품기준수량',
					name : 'goodsStandard',
					align : 'center'
				}, {
					header : '제품설명',
					name : 'goodsContents',
					align : 'center'
				}, {
					header : '제품검수기준',
					name : 'goodsCheck',
					align : 'center'
				}, {
					header : '제작기간',
					name : 'goodsDate',
					align : 'center'
				}, {
					header : '단위코드',
					name : 'unitCode',
					align : 'center'
				}, ],

			});

			// 제품리스트 불러오기
			function goodsList() {
				$.ajax({
					url : "/produce/goodsList",
					method : "GET",
					dataType : "JSON",
					success : function(result) {
						grid.resetData(result);
						console.log(result);
					},
					error : function(reject) {
						console.log(reject);
					}
				});
			}
			
			// 제품정보 수정
			function updateData(){	
				var datas1 = grid.getCheckedRows();
				console.log(datas1);
				$('#goodsNo2').val(datas1[0].goodsNo);
				$('#goodsName2').val(datas1[0].goodsName);
				$('#goodsStandard2').val(datas1[0].goodsStandard);
				$('#goodsContents2').val(datas1[0].goodsContents);
				$('#goodsCheck2').val(datas1[0].goodsCheck);
				$('#goodsDate2').val(datas1[0].goodsDate);
				$('#unitCode2').val(datas1[0].unitCode);
				
			}
			//제풍등록 확인창
			$().ready(function () {
	            $("#alertStart").click(function () {
	            	if ($('#goodsName').val() == "" || $('#goodsName').val() == null) {
	            		Swal.fire({
	                        icon: 'warning',
	                        title: '제품명을 입력해주세요!',
	                    })
						return false;
					}
	            	if ($('#goodsStandard').val() == "" || $('#goodsStandard').val() == null) {
	            		Swal.fire({
	                        icon: 'warning',
	                        title: '제품 기준수량을 입력하세요!',
	                    })
						return false;
					}
	            	if ($('#goodsDate').val() == "" || $('#goodsDate').val() == null) {
	            		Swal.fire({
	                        icon: 'warning',
	                        title: '제품 제작기간을 입력하세요!',
	                    })
						return false;
					}
					if ($('#goodsContents').val() == "" || $('#goodsContents').val() == null) {
						Swal.fire({
	                        icon: 'warning',
	                        title: '제품 설명을 입력하세요!',
	                    })
						return false;
					}
	                Swal.fire({
	                    icon: 'success',
	                    title: '제품등록이 완료되었습니다.',
	                    text: 'success~',
	                }).then(function(){
	                	$('#insertFrm').submit();
	                });
	                    return false;	                
	            });
	        });
			//제품수정 확인창
			$().ready(function () {
	            $("#alertStart2").click(function () {
	            	if ($('#goodsName2').val() == "" || $('#goodsName2').val() == null) {
	            		Swal.fire({
	                        icon: 'warning',
	                        title: '제품명을 입력해주세요!',
	                    })
						return false;
					}
	            	if ($('#goodsStandard2').val() == "" || $('#goodsStandard2').val() == null) {
						Swal.fire({
	                        icon: 'warning',
	                        title: '제품 기준수량을 입력하세요!',
	                    })
						return false;
					}
	            	if ($('#goodsDate2').val() == "" || $('#goodsDate2').val() == null) {
						Swal.fire({
	                        icon: 'warning',
	                        title: '제품 제작기간을 입력하세요!',
	                    })
						return false;
					}
					if ($('#goodsContents2').val() == "" || $('#goodsContents2').val() == null) {
						Swal.fire({
	                        icon: 'warning',
	                        title: '제품 설명을 입력하세요!',
	                    })
						return false;
					}
	                Swal.fire({
	                    icon: 'success',
	                    title: '제품수정이 완료되었습니다.',
	                    text: 'success~',
	                }).then(function(){
	                	$('#insertFrm2').submit();
	                });
	                    return false;	                
	            });
	        });
			// 제품정보 삭제
				$().ready(function () {
		            $("#delbtn").click(function () {
		                Swal.fire({
		                    title: '선택한 제품을 삭제하시겠습니까?',
		                    text: "다시 되돌릴 수 없습니다. 신중하세요.",
		                    icon: 'question',
		                    showCancelButton: true,
		                    confirmButtonColor: 'black',
		                    cancelButtonColor: '#d33',
		                    confirmButtonText: '승인',
		                    cancelButtonText: '취소'
		                }).then((result) => {
		                	var datas = grid.getCheckedRows();
		    				console.log(datas);
		                    if (result.isConfirmed) {
		                    	for(goods of datas){
		        					$.ajax({
		        						url : '/produce/goodsDelete',
		        						type : 'get',
		        						data : {goodsNo : goods.goodsNo},
		        						success : function(data){
		        							Swal.fire(
		        				                    '삭제가 완료되었습니다.',
		        				                    '화끈하시네요~!',
		        				                    'success'
		        				                )
		        							goodsList();
		        						},
		        						error : function(reject){
		        							console.log(reject);
		        						}
		        					});
		        					}
		                    }
		                })
		            });
		        });
				
				 tui.Grid.applyTheme("normal", {
			         cell : {
			            nomal : {
			               background : "#fff",
			               border : "#e0e0e0",
			               showVerticalBorder : false,
			               showHorizontalBorder : true
			            },
			            header : {
			               background : "#eaeaea",
			               border : "#e0e0e0",
			               showHorizontalBorder : true
			            },
			            rowHeader : {
			               background : "#eaeaea",
			               border : "#e0e0e0",
			               showVerticalBorder : false,
			               showHorizontalBorder : true
			            },
			         },

			      });
				
				
			
		</script>
	</div>
</body>
</html>