<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">

<title>Insert title here</title>

<link href="/css/tabcss/tabcss.css"  rel="stylesheet" />
</head>
<body>

	<div layout:fragment="content">
		<div class="tabs">
			<input id="all" type="radio" name="tab_item" checked> <label
				class="tab_item" for="all">생산지시</label> <input id="programming"
				type="radio" name="tab_item"> <label class="tab_item"
				for="programming">생산지시 리스트</label>
			<div class="tab_content" id="all_content" style="margin-left: 50px; margin-right: 50px;">
				<hr style="width: 100%">
				<h3>미지시 생산계획 리스트</h3>
				<button type="button" class="btn btn-dark btn-sm" id="selectBtn"
					onclick="insertData();" data-bs-toggle="modal"
					data-bs-target="#requestModal" style="float: right">생산지시
					작성</button>
				<div id="grid"></div>

				<hr style="width: 100%">

				<h3>완료 생산지시 리스트</h3>

				<div id="grid2"></div>

				<hr style="width: 100%">

				<button type="button" onclick="location.href='/produce/regist'"
					class="btn btn-dark btn-sm"
					style="float: right; margin-right: 36px">완제품등록 페이지 이동</button>
			</div>
			<div class="tab_content" id="programming_content" style="margin-left: 50px; margin-right: 50px;">
				<hr style="width: 100%">
				<h3 style="text-align: center">전체 생산지시 리스트</h3>
				<br>
				<div id="select_input">
					<span>등록일자</span>
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus"
						style="margin-left: -1px; z-index: 1100">
						<input id="startpicker-input" type="text" aria-label="Date"
							style="z-index: 1100"> <span class="tui-ico-date"></span>
						<div id="startpicker-container"
							style="margin-left: -1px; z-index: 1100"></div>
					</div>
					<span>~</span>
					<div class="tui-datepicker-input tui-datetime-input tui-has-focus"
						style="z-index: 1100">
						<input id="endpicker-input" type="text" aria-label="Date"
							style="margin-left: -1px; z-index: 1100"> <span
							class="tui-ico-date"></span>
						<div id="endpicker-container"
							style="margin-left: -1px; z-index: 1100"></div>
					</div>
					<button type="button" class="btn btn-secondary btn-sm" id="searchBtn">조회</button>

					<button type="button" class="btn btn-dark btn-sm"
						style="float: right" id="delbtn">생산지시 삭제</button>
			

				</div>
				<div id="grid5"></div>
			</div>
		</div>
		<!-- 생산지시 작성 모달 -->
		<div class="modal fade" id="requestModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">생산지시 작성</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<form action="/produce/insInsert" method="post" id="insertFrm">
						<!-- <sec:csrfInput/> -->
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<div class="modal-body">
							<div>
								<div class="input-group mb-3">
									<span class="input-group-text">생산지시번호</span> <input type="text"
										class="form-control" id="planNoInput" name="instructNo"
										aria-label="Username" aria-describedby="basic-addon1"
										readonly="readonly">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">지시될 생산계획번호</span> <input
										type="text" class="form-control" id="instructPlanNo"
										name="instructPlanNo" aria-label="Username"
										aria-describedby="basic-addon1" readonly="readonly">
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">제품 번호</span> <input type="text"
										class="form-control" id="planProductNo" name="planProductNo"
										aria-label="Username" aria-describedby="basic-addon1"
										readonly="readonly">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">최종생산지시량</span> <input
										type="number" class="form-control" placeholder="최종생산지시량"
										name="instructQuantity" id="instructQuantity"
										aria-label="Username" aria-describedby="basic-addon2"
										readonly="readonly">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">시작일자</span> <input type="date"
										class="form-control" placeholder="시작일자" id="planStart"
										readonly="readonly" aria-label="Username"
										aria-describedby="basic-addon3">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">종료일자</span> <input type="date"
										class="form-control" placeholder="종료일자" id="planEnd"
										readonly="readonly" aria-label="Username"
										aria-describedby="basic-addon4">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">지시일자</span> <input type="date"
										class="form-control" placeholder="지시일자" name="instructDate"
										id="instructDate" aria-label="Username"
										aria-describedby="basic-addon4">
								</div>


								<div class="input-group">
									<span class="input-group-text">기타사항</span>
									<textarea class="form-control" name="instructEx"
										aria-label="With textarea"></textarea>
								</div>

								<div id="requestModalGrid" style="width: 100%;"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" id="alertStart">등록</button>
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">취소</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- 생산지시 수정 모달 -->
		<div class="modal fade" id="requestModala" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-l">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">생산지시 수정</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<form action="/produce/insUpdate" method="post" id="insertFrm2">
						<!-- <sec:csrfInput/> -->
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<div class="modal-body">
							<div>
								<div class="input-group mb-3">
									<span class="input-group-text">생산지시번호</span> <input type="text"
										class="form-control" id="instructNo" name="instructNo"
										aria-label="Username" aria-describedby="basic-addon1"
										readonly="readonly">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">생산계획번호</span> <input type="text"
										class="form-control" id="planNo" name="planNo"
										aria-label="Username" aria-describedby="basic-addon2"
										readonly="readonly">
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">제품 번호</span> <input type="text"
										class="form-control" id="planProductNo2" name="planProductNo"
										aria-label="Username" aria-describedby="basic-addon1"
										readonly="readonly">
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">최종생산지시량</span> <input
										type="number" class="form-control" id="instructQuantity2"
										name="instructQuantity" aria-label="Username"
										aria-describedby="basic-addon2">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">시작일자</span> <input type="date"
										class="form-control" placeholder="시작일자" name="planStart"
										id="planStart2" aria-label="Username" readonly="readonly"
										aria-describedby="basic-addon3">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">종료일자</span> <input type="date"
										class="form-control" placeholder="종료일자" name="planEnd"
										id="planEnd2" aria-label="Username" readonly="readonly"
										aria-describedby="basic-addon4">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">진행상황</span> <select
										id="instructProgressCode2" name="instructProgressCode"
										class="form-select">
										<option th:each="playNo : ${playNo}">[[${playNo.codeName}]]</option>
									</select>
								</div>

								<div class="input-group">
									<span class="input-group-text">기타사항</span>
									<textarea class="form-control" name="instructEx"
										id="instructEx" aria-label="With textarea"></textarea>
								</div>

								<div id="requestModalGrid" style="width: 100%;"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="alertStart2">수정</button>
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">취소</button>
						</div>
					</form>
				</div>
			</div>
		</div>



		<script>	
		
		
		$(window).on('mouseover',function(){
				
				
		})
		
		
		
		window.onload = function () {
			
			//생산계획리스트 가져오기
			planList();
			//생산지시리스트 가져오기
			instructList();
	
			//모든 생산지시리스트
			allInstructList();
			//날짜검색
			searchBtnHandler();
			
			//체크박스 하나만 선택
			grid.on('check', (ev) => {
				for(let i=0;i<$('#grid input:checkbox[name="_checked"]').length;i++){
					if(i!=`${ev.rowKey}`){
						grid.uncheck(i);
					}
				}
				for(let i=0;i<$('#grid2 input:checkbox[name="_checked"]').length;i++){
					grid2.uncheck(i);
				}
						$('#selectBtn').prop('disabled', false);
				// 생산지시번호 +1 로 등록
				var info = '[[${info.instructNo}]]';
				$('#planNoInput').val(info)	
				
			});

			grid2.on('check', (ev) => {
				for(let i=0;i<$('#grid input:checkbox[name="_checked"]').length;i++){
					grid.uncheck(i);
				}
				for(let i=0;i<$('#grid2 input:checkbox[name="_checked"]').length;i++){
					if(i!=`${ev.rowKey}`){
						grid2.uncheck(i);
					}
				}
			});
			
			grid5.on('check', (ev) => {
				for(let i=0;i<$('#grid2 input:checkbox[name="_checked"]').length;i++){
					if(i!=`${ev.rowKey}`){
						grid5.uncheck(i);
					}
				}
						$('#updateBtn').prop('disabled', false);
						$('#delbtn').prop('disabled', false);
			});
				
			grid.on('uncheck', (ev) => {
				$('input:text').val('');
				$('#selectBtn').prop('disabled', true);
			});
			$('#selectBtn').prop('disabled', true);
				
			grid2.on('uncheck', (ev) => {
				$('input:text').val('');
			});
			
			grid5.on('uncheck', (ev) => {
				$('input:text').val('');
				$('#updateBtn').prop('disabled', true);
				$('#delbtn').prop('disabled', true);
			});
			$('#updateBtn').prop('disabled', true);
			$('#delbtn').prop('disabled', true);
				
			$('#grid span').remove();
			$('#grid2 span').remove();
			$('#grid5 span').remove();
		
		
		};
		
		
		
		// 생산계획 리스트 그리드
		var grid = new tui.Grid({
			el: document.getElementById('grid'),
			rowHeaders: ['checkbox'],
			minBodyHeight: 30,
			pageOptions: {
				useClient: true, // front에서만 페이징 하는 속성
				perPage: 5
			},
			scrollX: false,
			scrollY: false,
			columns: [
				{
					header: '생산계획번호',
					name: 'planNo',
					align : 'center',
					filter: {
					       type: 'select',
					        showApplyBtn: true,
					        showClearBtn: true
					      },
				},
				{
					header: '주문번호',
					name: 'planOrderNo',
					align : 'center'
				},
				{
					header: '생산량',
					name: 'planQuantity',
					align : 'center'
				},
				{
					header: '시작일자(desc)',
					name: 'planStart',
					sortingType: 'desc',
					sortable: true,
					align : 'center'
				},
				{
					header: '종료일자(desc)',
					name: 'planEnd',
					sortingType: 'desc',
					sortable: true,
					align : 'center'
				},
				
				{
					header: '제품번호',
					name: 'planProductNo',
					align : 'center'
				},	
				{
					header: '진행상황',
					name: 'planPlayCode',
					align : 'center',
					renderer : {
						styles: {
								 fontWeight: 'bold',
								 color: (props) => props.value == '자재입고완료' ? 'green' : 'red'
							}
					},
				},	
				{
					header: '기타사항',
					name: 'planEx',
					align : 'center'
				},	
				]
			
			});
		// 생산지시 리스트 그리드
		var grid2 = new tui.Grid({
			el: document.getElementById('grid2'),
			minBodyHeight: 30,
			pageOptions: {
				useClient: true, // front에서만 페이징 하는 속성
				perPage: 5
			},
			scrollX: false,
			scrollY: false,
			columns: [
				{
					header: '생산지시번호',
					name: 'INSTRUCTNO',
					align : 'center'
				},
				{
					header: '생산최종지시량',
					name: 'INSTRUCTQUANTITY',
					align : 'center'
				},
				{
					header: '제품명',
					name: 'GOODSNAME',
					align : 'center'
				},
				{
					header: '시작일자',
					name: 'PLANSTART',
					sortingType: 'desc',
					sortable: true,
					align : 'center'
				},
				{
					header: '종료일자',
					name: 'PLANEND',
					sortingType: 'desc',
					sortable: true,
					align : 'center'
				},
				{
					header: '지시일자',
					name: 'INSTRUCTDATE',
					sortingType: 'desc',
					sortable: true,
					align : 'center'
				},
				{
					header: '진행상황',
					name: 'INSTRUCT_PROGRESS_CODE',
					align : 'center',
					renderer : {
						styles: {
								 fontWeight: 'bold',
								 color: (props) => props.value == '진행중' ? '#009900' : 'blue'
							}
					},
				},	
				]
			});
		
		// 모든 생산지시 리스트
		var grid5 = new tui.Grid({
			el: document.getElementById('grid5'),
			rowHeaders: ['checkbox'],
			bodyHeight: 300,
			pageOptions: {
				useClient: true, // front에서만 페이징 하는 속성
				perPage: 7
			},
			scrollX: false,
			scrollY: false,
			columns: [
				{
					header: '생산지시번호',
					name: 'INSTRUCTNO',
					align : 'center'
				},
				{
					header: '생산계획번호',
					name: 'PLANNO',
					align : 'center'
				},
				{
					header: '생산최종지시량',
					name: 'INSTRUCTQUANTITY',
					align : 'center'
				},
				{
					header: '제품번호',
					name: 'PLANPRODUCTNO',
					align : 'center'
				},
				{
					header: '제품명',
					name: 'GOODSNAME',
					align : 'center'
					
				},
				{
					header: '시작일자',
					name: 'PLANSTART',
					sortingType: 'desc',
					sortable: true,
					align : 'center'
				},
				{
					header: '종료일자',
					name: 'PLANEND',
					sortingType: 'desc',
					sortable: true,
					align : 'center'
				},
				{
					header: '지시일자',
					name: 'INSTRUCTDATE',
					align : 'center',
					sortingType: 'desc',
					sortable: true,
					formatter: function(e){
		                return `<a href="/instructList">${e.value} / ${e.value}</a>`; 
		            },
					   
				},
				{
					header: '진행상황',
					name: 'INSTRUCT_PROGRESS_CODE',
					align : 'center',
					sortingType: 'desc',
					sortable: true,
					renderer : {
					 	styles: {
							fontWeight: 'bold',
							color: (props) => props.value == '진행중' ? '#009900' :  props.value == '완료' ? 'blue' : 'black'
						}
					},
				},	
				{
					header: '기타사항',
					name: 'INSTRUCTEX',
					align : 'center'
				},	
				]
			});
		
		
		//tab기능할때 grid 깨지는 거 방지
		const selectMnoa = document.getElementById('programming');
			selectMnoa.addEventListener('click',function(){
			grid5.refreshLayout();
	
				
			})
		
		
		//생산계획리스트 가져오기
		function planList(){
			$.ajax({
				url: "/produce/completePlan",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					
					for (let plan of result) {
						plan.planStart = plan.planStart.substr(0, 10);
						plan.planEnd = plan.planEnd.substr(0, 10);
					}
					grid.resetData(result);
				},
				error: function (reject) {
					console.log(reject);
				}
			});
		}
		//생산지시리스트 가져오기
		function instructList(){
			$.ajax({
				url: "/produce/complete",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					console.log(result);
					for (let plan of result) {
						plan.PLANSTART = String(plan.PLANSTART).substr(0, 10);
						plan.PLANEND = String(plan.PLANEND).substr(0, 10);
						plan.INSTRUCTDATE = String(plan.INSTRUCTDATE).substr(0, 10);
					}	
						grid2.resetData(result);
				},
				error: function (reject) {
					console.log(reject);
				}
			});
		}
		
		/*-----------------------
	 	날짜 검색 버튼 이벤트 핸들러
	 --------------------------*/
		let today = new Date();
		let picker = new tui.DatePicker.createRangePicker({
			startpicker : {
				date : today,
				input : '#startpicker-input',
				container : '#startpicker-container'
			},
			endpicker : {
				date : today,
				input : '#endpicker-input',
				container : '#endpicker-container'
			},
			selectableRanges : [[
					new Date(today.getFullYear() - 5, today.getMonth(),
							today.getDate()),
					new Date(today.getFullYear() + 5, today.getMonth(),
							today.getDate()) ] ]

		});
		
		// 모든 생산지시리스트 가져오기
		function searchBtnHandler() {
			$('#searchBtn').on('click', function() {
				let getStartDay = $('#startpicker-input').val();
				let getEndDay = $('#endpicker-input').val();
				console.log(getStartDay);
				console.log(getEndDay);

				$.ajax({
					url : '/produce/allInsList',
					data : {
						"startDate" : getStartDay,
						"endDate" : getEndDay
					},
					contentType : "application/json",
					method : 'GET',
					dataType : 'json',
					success : function(result) {
						for (let plan of result) {
							plan.PLANSTART = String(plan.PLANSTART).substr(0, 10);
							plan.PLANEND = String(plan.PLANEND).substr(0, 10);
							plan.INSTRUCTDATE = String(plan.INSTRUCTDATE).substr(0, 10);
						}
						console.log(result);
						grid5.resetData(result);
					},
					error : function(reject) {
						console.log(reject);
					}
				})
		
			})
		
		}
		
		// 모든생산지시리스트 첫페이지 보여주기
		function allInstructList(){
			$.ajax({
				url: "/produce/allInsList",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					console.log(result);
					for (let plan of result) {
						plan.PLANSTART = String(plan.PLANSTART).substr(0, 10);
						plan.PLANEND = String(plan.PLANEND).substr(0, 10);
						plan.INSTRUCTDATE = String(plan.INSTRUCTDATE).substr(0, 10);
					}	
						grid5.resetData(result);
				},
				error: function (reject) {
					console.log(reject);
				}
			});
		}
		
		// 지시 등록
		function insertData(){
			const date = new Date();
			var datas = grid.getCheckedRows();
			var test = JSON.stringify(datas);
			$('#planStart').val(datas[0].planStart);
			$('#planEnd').val(datas[0].planEnd);
			$('#instructPlanNo').val(datas[0].planNo);
			$('#planProductNo').val(datas[0].planProductNo);
			$('#instructQuantity').val(datas[0].planQuantity);
			$('#instructDate').attr('min', datas[0].planStart);
			$('#instructDate').attr('max', datas[0].planEnd);
			$('#instructDate').val(datas[0].planStart);
		}
		
		
		//지시등록 확인창
		$().ready(function () {
            $("#alertStart").click(function () {
            	
            	if ($('#instructDate').val() == "" || $('#instructDate').val() == null) {
					Swal.fire({
                        icon: 'warning',
                        title: '지시일자를 입력하세요!',
                    })
					return false;
				}
              
            	if ($('#instructQuantity').val() > $('#planQuantity').val() ) {
					Swal.fire({
                        icon: 'warning',
                        title: '최종지시량은 계획량을 초과하지 못합니다!',
                    })
					return false;
				}
            	Swal.fire({
                    icon: 'success',
                    title: '생산지시 등록이 완료되었습니다.',
                    text: 'success~',
                }).then(function(){
                	var datas2 = grid.getCheckedRows(); 
                    	console.log(datas2);
                    	for(instruct of datas2){
                			$.ajax({
                				url : '/produce/insPlay',
                				type : 'post',
                				data : {planNo : instruct.planNo},
                				beforeSend: function (xhr) {
            						xhr.setRequestHeader(header, token);
            					},
                				success : function(data){
                					
                					console.log(data);
                    				$('#insertFrm').submit();	
                				},
                				error : function(reject){
                					console.log(reject);
                				}
                			});
                    }
                
                });
                    return false;	                
            });
        });
		
		
		// 지시 수정
		function updateData(){	
			var datas1 = grid5.getCheckedRows();
			console.log(datas1);
			var test = JSON.stringify(datas1);
			$('#planNo').val(datas1[0].PLANNO);
			$('#instructNo').val(datas1[0].INSTRUCTNO);
			$('#planStart2').val(datas1[0].PLANSTART);
			$('#planEnd2').val(datas1[0].PLANEND);
			$('#instructPlanNo').val(datas1[0].PLANNO);
			$('#instructQuantity2').val(datas1[0].INSTRUCTQUANTITY);
			$('#instructEx').val(datas1[0].INSTRUCTEX);
			$('#instructProgressCode2').val(datas1[0].INSTRUCT_PROGRESS_CODE);
			$('#planProductNo2').val(datas1[0].PLANPRODUCTNO);
		
		}
		
		//생산지시 수정 확인창
		$().ready(function () {
            $("#alertStart2").click(function () {
            	
            	Swal.fire({
                    icon: 'success',
                    title: '생산지시 수정이 완료되었습니다.',
                    text: 'success~',
                }).then(function(){
                	$('#insertFrm2').submit();
                });
                    return false;	                
            });
        });
		// 생산지시 삭제
		$().ready(function () {
            $("#delbtn").click(function () {
                Swal.fire({
                    title: '선택한 생산지시를 삭제하시겠습니까?',
                    text: "다시 되돌릴 수 없습니다. 신중하세요.",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: 'black',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '승인',
                    cancelButtonText: '취소'
                }).then((result) => {
                	var datas2 = grid5.getCheckedRows();
                    if (result.isConfirmed) {
                    	for(instruct of datas2){
                			$.ajax({
                				url : '/produce/insDelete',
                				type : 'get',
                				data : {instructNo : instruct.INSTRUCTNO},
                				success : function(data){
                					Swal.fire(
                		                    '삭제가 완료되었습니다.',
                		                    '화끈하시네요~!',
                		                    'success'
                		                )
                		                allInstructList();
                				},
                				error : function(reject){
                					console.log(reject);
                				}
                			});
                			}
                    }
                })
            });
        });
		
		 tui.Grid.applyTheme("normal", {
	         cell : {
	            nomal : {
	               background : "#fff",
	               border : "#e0e0e0",
	               showVerticalBorder : false,
	               showHorizontalBorder : true
	            },
	            header : {
	               background : "#eaeaea",
	               border : "#e0e0e0",
	               showHorizontalBorder : true
	            },
	            rowHeader : {
	               background : "#eaeaea",
	               border : "#e0e0e0",
	               showVerticalBorder : false,
	               showHorizontalBorder : true
	            },
	         },

	      });
		
		</script>
	</div>
</body>
</html>