<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script
	src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>

<!-- modal -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
	crossorigin="anonymous">
    </script>
</head>
<body>
	<div layout:fragment="content"
		style="margin-left: 30px; margin-right: 30px;">
		<hr style="width: 100%">
		<h3>미지시 생산계획 리스트</h3>
		<button type="button" class="btn btn-dark btn-sm" id="selectBtn"
			onclick="insertData();" data-bs-toggle="modal"
			data-bs-target="#requestModal" style="float: right">생산지시 작성</button>
		<div id="grid"></div>

		<hr style="width: 100%">

		<h3>진행중 생산지시 리스트</h3>
		<button type="button" class="btn btn-dark btn-sm" style="float: right"
			id="delbtn">생산지시 삭제</button>
		<button type="button" onclick="updateData();"
			class="btn btn-dark btn-sm" data-bs-toggle="modal"
			data-bs-target="#requestModala" style="float: right">생산지시 수정</button>
		<div id="grid2"></div>

		<hr style="width: 100%">

		<button type="button" onclick="location.href='/proError'"
					class="btn btn-primary btn-m" style="float: right; margin-right: 36px">생산 페이지 이동</button>
		<!-- 생산지시 작성 모달 -->
		<div class="modal fade" id="requestModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">생산지시 작성</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<form action="insInsert" method="post" id="insertFrm">
						<!-- <sec:csrfInput/> -->
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<div class="modal-body">
							<div>
								<div class="input-group mb-3">
									<span class="input-group-text">생산지시번호</span> <input type="text"
										class="form-control" id="planNoInput" name="instructNo"
										aria-label="Username" aria-describedby="basic-addon1"
										readonly="readonly">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">지시될 생산계획번호</span> <input
										type="text" class="form-control" id="instructPlanNo"
										name="instructPlanNo" aria-label="Username"
										aria-describedby="basic-addon1" readonly="readonly">
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">제품 번호</span> <input type="text"
										class="form-control" id="planProductNo" name="planProductNo"
										aria-label="Username" aria-describedby="basic-addon1"
										readonly="readonly">
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">생산계획량</span> <input
										type="number" class="form-control" placeholder="생산계획량"
										name="planQuantity" id="planQuantity" readonly="readonly"
										aria-label="Username" aria-describedby="basic-addon2">
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">최종생산지시량</span> <input
										type="number" class="form-control" placeholder="최종생산지시량"
										name="instructQuantity" id="instructQuantity"
										aria-label="Username" aria-describedby="basic-addon2">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">시작일자</span> <input type="date"
										class="form-control" placeholder="시작일자" id="planStart"
										readonly="readonly" aria-label="Username"
										aria-describedby="basic-addon3">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">종료일자</span> <input type="date"
										class="form-control" placeholder="종료일자" id="planEnd"
										readonly="readonly" aria-label="Username"
										aria-describedby="basic-addon4">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">지시일자</span> <input type="date"
										class="form-control" placeholder="지시일자" name="instructDate"
										id="instructDate" aria-label="Username"
										aria-describedby="basic-addon4">
								</div>


								<div class="input-group mb-3">
									<span class="input-group-text" data-bs-dismiss="modal" id="selectMaterial">자재번호 (1)</span> 
									<input id="instructMNo" name="instructMNo" class="form-control">
				
									
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">투입될 자재량(1)</span> <input
										type="number" class="form-control" placeholder="자재량"
										id="instructMaterialNum"
										name="instructMaterialNum" aria-label="Username"
										aria-describedby="basic-addon4">
								</div>
								
								<div class="input-group mb-3">
									<span class="input-group-text" data-bs-dismiss="modal" id="selectMaterial2">자재번호 (2)</span> 
									<input id="instructMNob" name="instructMNob" class="form-control">
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">투입될 자재량 (2)</span> <input
										type="number" class="form-control" placeholder="자재량"
										id="instructMaterialNumb"
										name="instructMaterialNumb" aria-label="Username"
										aria-describedby="basic-addon4">
								</div>

								<div class="input-group">
									<span class="input-group-text">기타사항</span>
									<textarea class="form-control" name="instructEx"
										aria-label="With textarea"></textarea>
								</div>

								<div id="requestModalGrid" style="width: 100%;"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary" id="alertStart">등록</button>
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">취소</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- 생산지시 수정 모달 -->
		<div class="modal fade" id="requestModala" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-l">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">생산지시 수정</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<form action="insUpdate" method="post" id="insertFrm2">
						<!-- <sec:csrfInput/> -->
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
						<div class="modal-body">
							<div>
								<div class="input-group mb-3">
									<span class="input-group-text">생산지시번호</span> <input type="text"
										class="form-control" id="instructNo" name="instructNo"
										aria-label="Username" aria-describedby="basic-addon1"
										readonly="readonly">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">생산계획번호</span> <input type="text"
										class="form-control" id="planNo" name="planNo"
										aria-label="Username" aria-describedby="basic-addon2"
										readonly="readonly">
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">제품 번호</span> <input type="text"
										class="form-control" id="planProductNo2" name="planProductNo"
										aria-label="Username" aria-describedby="basic-addon1"
										readonly="readonly">
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">최종생산지시량</span> <input
										type="number" class="form-control" id="instructQuantity2"
										name="instructQuantity" aria-label="Username"
										aria-describedby="basic-addon2">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">시작일자</span> <input type="date"
										class="form-control" placeholder="시작일자" name="planStart"
										id="planStart2" aria-label="Username" readonly="readonly"
										aria-describedby="basic-addon3">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">종료일자</span> <input type="date"
										class="form-control" placeholder="종료일자" name="planEnd"
										id="planEnd2" aria-label="Username" readonly="readonly"
										aria-describedby="basic-addon4">
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">자재번호 (자재명) (1)</span> <select
										id="instructMNo2" name="instructMNo" class="form-select">
										<option th:each="mNo : ${mNo}" th:value="${mNo.mNo}">[[${mNo.mNo}]] ([[${mNo.mName}]])</option>
									</select>
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">투입될 자재량 (1)</span> <input
										type="number" class="form-control" name="instructMaterialNum"
										id="instructMaterialNum2" aria-label="Username"
										aria-describedby="basic-addon4">
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">자재번호 (자재명) (2)</span> <select
										id="instructMNob2" name="instructMNob" class="form-select">
										<option th:each="mNo : ${mNo}" th:value="${mNo.mNo}">[[${mNo.mNo}]] ([[${mNo.mName}]])</option>
									</select>
								</div>
								<div class="input-group mb-3">
									<span class="input-group-text">투입될 자재량 (2)</span> <input
										type="number" class="form-control" name="instructMaterialNumb"
										id="instructMaterialNumb2" aria-label="Username"
										aria-describedby="basic-addon4">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">진행상황</span> <select
										id="instructProgressCode2" name="instructProgressCode"
										class="form-select">
										<option th:each="playNo : ${playNo}">[[${playNo.codeName}]]</option>
									</select>
								</div>

								<div class="input-group">
									<span class="input-group-text">기타사항</span>
									<textarea class="form-control" name="instructEx"
										id="instructEx" aria-label="With textarea"></textarea>
								</div>

								<div id="requestModalGrid" style="width: 100%;"></div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="alertStart2">수정</button>
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">취소</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- 자재정보 모달에 모달 1-->
		<div class="modal fade" id="requestModal3" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">자제 상세정보</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
						<div class="modal-body">
							<div id="grid3"></div>
							<div id="requestModalGrid" style="width: 100%;"></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" id="setData"
								data-bs-dismiss="modal">확인</button>
						</div>
				</div>
			</div>
		</div>
		</div>
		<!-- 자재정보 모달에 모달 2-->
		<div class="modal fade" id="requestModal4" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">자제 상세정보</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
						<div class="modal-body">
							<div id="grid4"></div>
							<div id="requestModalGrid" style="width: 100%;"></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" id="setData2"
								data-bs-dismiss="modal">확인</button>
						</div>
				</div>
			</div>
		</div>
		</div>
		<script>	
		
		// 모달에 모달 체크하고 확인버튼 누르면 값 담기게
		$("#setData").click(function () {
        	$('#requestModal').modal('toggle');
        	$('#selectBtn').click();	
        	var datas = grid3.getCheckedRows();
        	console.log(datas);
        	$('#instructMNo').val(datas[0].mno);
        
        })
        $("#setData2").click(function () {
        	$('#requestModal').modal('toggle');
        	$('#selectBtn').click();	
        	var datas = grid4.getCheckedRows();
        	console.log(datas);
        	$('#instructMNob').val(datas[0].mno);
        
        })
		$(window).on('mouseover',function(){
				grid3.refreshLayout();
				grid4.refreshLayout();
		})
		
		const header = $("meta[name='_csrf_header']").attr('content');
		const token = $("meta[name='_csrf']").attr('content');
		
		
		window.onload = function () {
			
			//생산계획리스트 가져오기
			planList();
			//생산지시리스트 가져오기
			instructList();
			mList();
			
			//체크박스 하나만 선택
			grid.on('check', (ev) => {
				for(let i=0;i<$('#grid input:checkbox[name="_checked"]').length;i++){
					if(i!=`${ev.rowKey}`){
						grid.uncheck(i);
					}
				}
				for(let i=0;i<$('#grid2 input:checkbox[name="_checked"]').length;i++){
					grid2.uncheck(i);
				}
				// 생산지시번호 +1 로 등록
				var info = '[[${info.instructNo}]]';
				$('#planNoInput').val(info)	
				
			});

			grid2.on('check', (ev) => {
				for(let i=0;i<$('#grid input:checkbox[name="_checked"]').length;i++){
					grid.uncheck(i);
				}
				for(let i=0;i<$('#grid2 input:checkbox[name="_checked"]').length;i++){
					if(i!=`${ev.rowKey}`){
						grid2.uncheck(i);
					}
				}
			});
			grid3.on('check', (ev) => {
				for(let i=0;i<$('#grid2 input:checkbox[name="_checked"]').length;i++){
					if(i!=`${ev.rowKey}`){
						grid3.uncheck(i);
					}
				}
				// 생산지시번호 +1 로 등록
				var info = '[[${info.instructNo}]]';
				$('#planNoInput').val(info)	
			});
				
			grid.on('uncheck', (ev) => {
				$('input:text').val('');
			});
				
			grid2.on('uncheck', (ev) => {
				$('input:text').val('');
			});
			grid3.on('uncheck', (ev) => {
				$('input:text').val('');
			});
				
			$('#grid span').remove();
			$('#grid2 span').remove();
			$('#grid3 span').remove();
			
			$('#selectMaterial').hover(function(){
				$(this).css("cursor", "pointer");
				$(this).css("background-color", "#D3D3D3")
			})
			$('#selectMaterial').mouseout(function(){
				$(this).css("background-color", "#E9ECEF")
			})
			$('#selectMaterial2').hover(function(){
				$(this).css("cursor", "pointer");
				$(this).css("background-color", "#D3D3D3")
			})
			$('#selectMaterial2').mouseout(function(){
				$(this).css("background-color", "#E9ECEF")
			})
			
		};
		const selectMno = document.getElementById('selectMaterial');
		selectMno.addEventListener('click',function(){
			$('#requestModal3').modal('toggle');
		})
		const selectMno2 = document.getElementById('selectMaterial2');
		selectMno2.addEventListener('click',function(){
			$('#requestModal4').modal('toggle');
		})
		

		// 생산계획 리스트 그리드
		var grid = new tui.Grid({
			el: document.getElementById('grid'),
			rowHeaders: ['checkbox'],
			minBodyHeight: 30,
			pageOptions: {
				useClient: true, // front에서만 페이징 하는 속성
				perPage: 5
			},
			scrollX: false,
			scrollY: false,
			columns: [
				{
					header: '생산계획번호',
					name: 'planNo',
					filter: {
					       type: 'select',
					        showApplyBtn: true,
					        showClearBtn: true
					      },
				},
				{
					header: '주문번호',
					name: 'planOrderNo',
				},
				{
					header: '생산량',
					name: 'planQuantity',
				},
				{
					header: '시작일자(desc)',
					name: 'planStart',
					sortingType: 'desc',
					sortable: true
				},
				{
					header: '종료일자(desc)',
					name: 'planEnd',
					sortingType: 'desc',
					sortable: true
				},
				{
					header: 'BOM번호',
					name: 'planBomNo',
				},	
				{
					header: '제품번호',
					name: 'planProductNo',
				},	
				{
					header: '진행상황',
					name: 'planPlayCode',
				},	
				{
					header: '기타사항',
					name: 'planEx',
				},	
				]
			
			});
		// 생산지시 리스트 그리드
		var grid2 = new tui.Grid({
			el: document.getElementById('grid2'),
			rowHeaders: ['checkbox'],
			minBodyHeight: 30,
			pageOptions: {
				useClient: true, // front에서만 페이징 하는 속성
				perPage: 5
			},
			scrollX: false,
			scrollY: false,
			columns: [
				{
					header: '생산지시번호',
					name: 'INSTRUCTNO'
				},
				{
					header: '생산계획번호',
					name: 'PLANNO'
				},
				{
					header: '생산최종지시량',
					name: 'INSTRUCTQUANTITY'
				},
				{
					header: '제품번호',
					name: 'PLANPRODUCTNO'
				},
				{
					header: '제품명',
					name: 'GOODSNAME'
				},
				{
					header: '시작일자(desc)',
					name: 'PLANSTART',
					sortingType: 'desc',
					sortable: true
				},
				{
					header: '종료일자(desc)',
					name: 'PLANEND',
					sortingType: 'desc',
					sortable: true
				},
				{
					header: '자재번호(1)',
					name: 'INSTRUCTMNO'
				},
				{
					header: '투입될 자재량(1)',
					name: 'INSTRUCTMATERIALNUM'
				},	
				{
					header: '자재번호(2)',
					name: 'INSTRUCTMNOB'
				},
				{
					header: '투입될 자재량(2)',
					name: 'INSTRUCTMATERIALNUMB'
				},	
				{
					header: '지시일자(desc)',
					name: 'INSTRUCTDATE',
					sortingType: 'desc',
					sortable: true
				},
				{
					header: '진행상황',
					name: 'INSTRUCT_PROGRESS_CODE'
				},	
				{
					header: '기타사항',
					name: 'INSTRUCTEX'
				},	
				]
			});
		
		// 자재재고 현황 그리드
		var grid3 = new tui.Grid({
			el: document.getElementById('grid3'),
			minBodyHeight: 30,
			rowHeaders: ['checkbox'],
			pageOptions: {
				useClient: true, // front에서만 페이징 하는 속성
				perPage: 5
			},
			scrollX: false,
			scrollY: false,
			columns : [ {
				header : '자재번호',
				name : 'mno'
			}, {
				header : '거래처번호',
				name : 'mcompanyId'
			}, {
				header : '분류',
				name : 'mcategory'
			}, {
				header : '자재명',
				name : 'mname',
				color : 'yellow'
			}, {
				header : '현재 재고',
				name : 'mstock'
			}, {
				header : '증감',
				name : 'increase'
			}, {
				header : '최종수정일',
				name : 'mdate'
			}, {
				header : '입고일자',
				name : 'mioInputDate'
			}, {
				header : '사용일자',
				name : 'mioOutputDate'
			} ],
			});
		
		// 자재재고 현황 그리드
		var grid4 = new tui.Grid({
			el: document.getElementById('grid4'),
			minBodyHeight: 30,
			rowHeaders: ['checkbox'],
			pageOptions: {
				useClient: true, // front에서만 페이징 하는 속성
				perPage: 5
			},
			scrollX: false,
			scrollY: false,
			columns : [ {
				header : '자재번호',
				name : 'mno'
			}, {
				header : '거래처번호',
				name : 'mcompanyId'
			}, {
				header : '분류',
				name : 'mcategory'
			}, {
				header : '자재명',
				name : 'mname',
				color : 'yellow'
			}, {
				header : '현재 재고',
				name : 'mstock'
			}, {
				header : '증감',
				name : 'increase'
			}, {
				header : '최종수정일',
				name : 'mdate'
			}, {
				header : '입고일자',
				name : 'mioInputDate'
			}, {
				header : '사용일자',
				name : 'mioOutputDate'
			} ],
			});
		
		//생산계획리스트 가져오기
		function planList(){
			$.ajax({
				url: "/completePlan",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					
					for (let plan of result) {
						plan.planStart = plan.planStart.substr(0, 10);
						plan.planEnd = plan.planEnd.substr(0, 10);
					}
					grid.resetData(result);
				},
				error: function (reject) {
					console.log(reject);
				}
			});
		}
		//생산지시리스트 가져오기
		function instructList(){
			$.ajax({
				url: "/instruct",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					console.log(result);
					for (let plan of result) {
						plan.PLANSTART = String(plan.PLANSTART).substr(0, 10);
						plan.PLANEND = String(plan.PLANEND).substr(0, 10);
						plan.INSTRUCTDATE = String(plan.INSTRUCTDATE).substr(0, 10);
					}	
						grid2.resetData(result);
				},
				error: function (reject) {
					console.log(reject);
				}
			});
		}
		//자재재고 리스트 가져오기
		function mList() {
			$.ajax({
				url : "http://localhost:85/ajax/minfo",
				method : "GET",
				success : function(result) {
					grid3.resetData((result.list2));
					grid4.resetData((result.list2));
					console.log(result);
				},
				error : function(reject) {
					console.log(reject);
				}
			})

		}
		
		// 지시 등록
		function insertData(){
			const date = new Date();
			var datas = grid.getCheckedRows();
			var test = JSON.stringify(datas);
			$('#planStart').val(datas[0].planStart);
			$('#planEnd').val(datas[0].planEnd);
			$('#instructPlanNo').val(datas[0].planNo);
			$('#planQuantity').val(datas[0].planQuantity);
			$('#planProductNo').val(datas[0].planProductNo);
		}
		//지시등록 확인창
		$().ready(function () {
            $("#alertStart").click(function () {
            	if ($('#instructQuantity').val() == "" || $('#instructQuantity').val() == null) {
					Swal.fire({
                        icon: 'warning',
                        title: '최종생산 지시량을 입력하세요!',
                    })
					return false;
				}
            	if ($('#instructDate').val() == "" || $('#instructDate').val() == null) {
					Swal.fire({
                        icon: 'warning',
                        title: '지시일자를 입력하세요!',
                    })
					return false;
				}
            	if ($('#instructMaterialNum').val() == "" || $('#instructMaterialNum').val() == null) {
					Swal.fire({
                        icon: 'warning',
                        title: '투입될 자재량(1)을 입력하세요!',
                    })
					return false;
				}
            	if ($('#instructMaterialNumb').val() == "" || $('#instructMaterialNumb').val() == null) {
					Swal.fire({
                        icon: 'warning',
                        title: '투입될 자재량(2)을 입력하세요!',
                    })
					return false;
				}
            	Swal.fire({
                    icon: 'success',
                    title: '생산지시 등록이 완료되었습니다.',
                    text: 'success~',
                }).then(function(){
                	var datas2 = grid.getCheckedRows();
                    	console.log(datas2);
                    	for(instruct of datas2){
                			$.ajax({
                				url : '/insPlay',
                				type : 'post',
                				data : {planNo : instruct.planNo},
                				beforeSend: function (xhr) {
            						xhr.setRequestHeader(header, token);
            					},
                				success : function(data){
                					console.log(data);
                					$('#insertFrm').submit();
                				},
                				error : function(reject){
                					console.log(reject);
                				}
                			});
                			
                    }
                
                });
                    return false;	                
            });
        });
		
		
		// 지시 수정
		function updateData(){	
			var datas1 = grid2.getCheckedRows();
			console.log(datas1);
			var test = JSON.stringify(datas1);
			$('#planNo').val(datas1[0].PLANNO);
			$('#instructNo').val(datas1[0].INSTRUCTNO);
			$('#planStart2').val(datas1[0].PLANSTART);
			$('#planEnd2').val(datas1[0].PLANEND);
			$('#instructPlanNo').val(datas1[0].PLANNO);
			$('#instructMaterialNum').val(datas1[0].INSTRUCTMATERIALNUM);
			$('#instructMNo2').val(datas1[0].INSTRUCTMNO);
			$('#instructQuantity2').val(datas1[0].INSTRUCTQUANTITY);
			$('#instructEx').val(datas1[0].INSTRUCTEX);
			$('#instructProgressCode2').val(datas1[0].INSTRUCT_PROGRESS_CODE);
			$('#planProductNo2').val(datas1[0].PLANPRODUCTNO);
			$('#instructMaterialNum2').val(datas1[0].INSTRUCTMATERIALNUM);
			$('#instructMNob2').val(datas1[0].INSTRUCTMNOB);
			$('#instructMaterialNumb2').val(datas1[0].INSTRUCTMATERIALNUMB);
		}
		
		//생산지시 수정 확인창
		$().ready(function () {
            $("#alertStart2").click(function () {
            	if ($('#instructQuantity2').val() == "" || $('#instructQuantity2').val() == null) {
					Swal.fire({
                        icon: 'warning',
                        title: '최종생산 지시량을 입력하세요!',
                    })
					return false;
				}
            	if ($('#instructMaterialNum2').val() == "" || $('#instructMaterialNum2').val() == null) {
					Swal.fire({
                        icon: 'warning',
                        title: '투입될 자재량(1)을 입력하세요!',
                    })
					return false;
				}
            	if ($('#instructMaterialNumb2').val() == "" || $('#instructMaterialNumb2').val() == null) {
					Swal.fire({
                        icon: 'warning',
                        title: '투입될 자재량(2)을 입력하세요!',
                    })
					return false;
				}
            	Swal.fire({
                    icon: 'success',
                    title: '생산지시 수정이 완료되었습니다.',
                    text: 'success~',
                }).then(function(){
                	$('#insertFrm2').submit();
                });
                    return false;	                
            });
        });
		// 생산지시 삭제
		$().ready(function () {
            $("#delbtn").click(function () {
                Swal.fire({
                    title: '선택한 생산지시를 삭제하시겠습니까?',
                    text: "다시 되돌릴 수 없습니다. 신중하세요.",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: 'black',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '승인',
                    cancelButtonText: '취소'
                }).then((result) => {
                	var datas2 = grid2.getCheckedRows();
                    if (result.isConfirmed) {
                    	for(instruct of datas2){
                			$.ajax({
                				url : 'insDelete',
                				type : 'get',
                				data : {instructNo : instruct.INSTRUCTNO},
                				success : function(data){
                					Swal.fire(
                		                    '삭제가 완료되었습니다.',
                		                    '화끈하시네요~!',
                		                    'success'
                		                )
                					instructList();
                				},
                				error : function(reject){
                					console.log(reject);
                				}
                			});
                			}
                    }
                })
            });
        });
		
		tui.Grid.applyTheme('default', {
			  cell: {
			   
			    selectedHeader: {
			      background: 'yellow'
			    }
			  }
			});
		</script>
	</div>
</body>
</html>