<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>주문하기</title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
	crossorigin="anonymous">
	
</script>
<!--jqeury-->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!--toast grid-->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script
	src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<!--toast date-picker-->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>


</head>
<style>
/*bootstrap grid 스타일 */
* {
	box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
	width: 100%;
	padding: 10px;
	height: auto;
	/* Should be removed. Only for demonstration */
	outline: solid 1px black;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

#btn {
	float: right;
	margin-right: 5px;
}

/* 검색창 스타일 */
#search {
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.search {
	position: relative;
	width: 360px;
}

input {
	width: 100%;
	border: 1px solid #bbb;
	padding: 6px 27px 6px 10px;
	font-size: 14px;
}

img {
	position: absolute;
	width: 17px;
	top: 10px;
	right: 12px;
	margin: 0;
}

#regdate {
	margin-left: 10px;
}
</style>
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<h2>내 주문관리</h2>

			<div class="row">
				<div class="column">
					<div id="wrap">
						<div class="column">
							<strong>실시간 주문 진행 상황</strong>

							<div class="container">
								<img style="width: 500px; height: 300px;" src="/salesImg/9.png"
									alt="배송상황사진">
									<!-- 
									 <img
									style="width: 100px; height: 100px;" src="/salesImg/3.jpg"
									alt="배송상황사진"> -> <img
									style="width: 100px; height: 100px;" src="/salesImg/3.jpg"
									alt="배송상황사진">
									 --> 
							</div>

						</div>
						<form>
							<div id="search">
								<div class="search">
									<span>제품명</span> <input style="width: 170px;">
									<button type="button" class="btn btn-secondary">검색</button>
								</div>
							</div>
						</form>

						<div id="regdate" style="z-index: 1100">
							<span>등록일자</span>
							<div
								class="tui-datepicker-input tui-datetime-input tui-has-focus"
								style="z-index: 1100">
								<input id="startpicker-input" type="text" aria-label="Date"
									style="z-index: 1100"> <span class="tui-ico-date"></span>
								<div id="startpicker-container" class="datePicker"
									style="z-index: 1100"></div>
							</div>
							<span>~</span>
							<div
								class="tui-datepicker-input tui-datetime-input tui-has-focus"
								style="z-index: 1100">
								<input id="endpicker-input" type="text" aria-label="Date"
									style="z-index: 1100"> <span class="tui-ico-date"></span>
								<div id="endpicker-container" class="datePicker"
									style="z-index: 1100"></div>
							</div>

							<div id="btn">
								<button type="button" class="btn btn-secondary btn-sm"
									id="insertbtn" onclick="mInfoInsert()">주문하기 (신규/재주문)</button>
								<button type="button" class="btn btn-secondary btn-sm"
									id="delbtn">주문 삭제</button>
								<button type="button" class="btn btn-secondary btn-sm"
									id="updatebtn" onclick="location.href='mInfoUpdate'">내
									정보 수정</button>
								<button type="button" class="btn btn-secondary btn-sm"
									id="regbtn">문의하기</button>
							</div>
						</div>
						<div>
							<h2>진행중인 주문 조회</h2>
							<div id="grid"></div>
						</div>
					</div>
				</div>
				<div class="column">
					<h2>구매내역</h2>

					<div id="mdate" style="margin-left: 10px; z-index: 1001;">
						<span>수정일자</span>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus"
							style="margin-bottom: 5px; z-index: 1001;">
							<input id="startpicker-input2" type="text" aria-label="Date"
								style="margin-bottom: 5px; z-index: 1001"> <span
								class="tui-ico-date"></span>
							<div id="startpicker-container2" class="datePicker2"
								style="z-index: 1001"></div>
						</div>
						<span>~</span>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus"
							style="margin-bottom: 5px; z-index: 1001">
							<input id="endpicker-input2" type="text" aria-label="Date"
								style="margin-bottom: 5px; z-index: 1001"> <span
								class="tui-ico-date"></span>
							<div id="endpicker-container2" class="datePicker2"
								style="margin-bottom: 5px; z-index: 1001"></div>
						</div>
						<div>
							<div id="grid2"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 자재번호 모달-->
		<div class="modal" tabindex="-1" id="delModal" style="z-index: 1200">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" style="font-weight: bold;">자재정보삭제</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body" style="text-align: center">
						<h5>자재 정보 삭제 시 ,</h5>
						<h5>현재 재고 정보가 삭제됩니다.</h5>
						<h5>정말로 삭제하시겠습니까?</h5>
					</div>
					<div class="modal-footer" style="text-align: center">
						<!-- data-bs-dismiss :  모달 닫아주는 역할  -->
						<button type="button" class="btn btn-primary"
							data-bs-dismiss="modal" onclick="checkDel()">확인</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 자재 정보 상세내역 모달-->
		<div class="modal" tabindex="-1" id="mInfoModal" style="z-index: 1300">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" style="font-weight: bold;">자재 정보 상세내역</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body" style="text-align: center"></div>
					<div class="modal-footer" style="text-align: center">
						<!-- data-bs-dismiss :  모달 닫아주는 역할  -->
						<button type="button" class="btn btn-primary"
							data-bs-dismiss="modal" onclick="checkDel()">확인</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>

		<script>
			// 데이터 피커 ( 자재 날짜로 찾기)
			let today = new Date();
			let picker = tui.DatePicker.createRangePicker({
				startpicker : {
					date : today,
					input : '#startpicker-input',
					container : '#startpicker-container'
				},
				endpicker : {
					date : today,
					input : '#endpicker-input',
					container : '#endpicker-container'
				},
				selectableRanges : [ [
						today,
						new Date(today.getFullYear() + 1, today.getMonth(),
								today.getDate()) ] ]
			});

			//데이터 피커(자재 변동 최종 수정일자로 찾기)
			// 데이터 피커 ( 자재 날짜로 찾기)
			let picker2 = tui.DatePicker.createRangePicker({
				startpicker : {
					date : today,
					input : '#startpicker-input2',
					container : '#startpicker-container2'
				},
				endpicker : {
					date : today,
					input : '#endpicker-input2',
					container : '#endpicker-container2'
				},
				selectableRanges : [ [
						today,
						new Date(today.getFullYear() + 1, today.getMonth(),
								today.getDate()) ] ]
			});

			// 진행중인 주문조회 (상단)
			let infoGrid;

			infoGrid = new tui.Grid({

				el : document.getElementById('grid'),
				rowHeaders : [ 'checkbox' ], // 가장 왼쪽 체크박스
				scrollX : false, // 세로 스크롤 
				scrollY : false, // 가로 스크롤
				columns : // 컬럼명
					[{
					header: '주문번호',
					name: 'orderNo',
					width: 'auto'
				}, {
					header: '거래처번호',
					name: 'clientNo',
				}, {
					header: '제품번호',
					name: 'productNo'
				}, {
					header: '주문일자',
					name: 'orderDate'
				}, {
					header: '납기일자',
					name: 'deliveryDate',
				}, {
					header: '제품명',
					name: 'productName',
				}, {
					header: '수량',
					name: 'totalNum',
				}, {
					header: '공급가액',
					name: 'totalPrice',
				}, {
					header: '부가세',
					name: 'surtax',

				}, {
					header: '요청사항',
					name: 'note',

				}, {
					header: '주문타입',
					name: 'orderCode',

				}, {
					header: '생산지시',
					name: 'orderProgressCode'

				}, {
					header: '배달상황',
					name: 'deliveryInfo'

				}, {
					header: '출납상황',
					name: 'ioCode'
				}]
				//draggable : true

			})

			//그리드 스타일 
			tui.Grid.applyTheme("normal", {
				cell : {
					nomal : {
						background : "#fff",
						border : "#e0e0e0",
						showVerticalBorder : false,
						showHorizontalBorder : true
					},
					header : {
						background : "#eaeaea",
						border : "#e0e0e0",
						showHorizontalBorder : true
					},
					rowHeader : {
						background : "#eaeaea",
						border : "#e0e0e0",
						showVerticalBorder : false,
						showHorizontalBorder : true
					},
				},

			});

			function test() {
				$.ajax({
					url : "http://localhost:85/ajax/orders",
					method : "GET",
					success : function(result) {
						infoGrid.resetData((result.list1)); //resetData : 데이터 조회해서 가져오기 -> eval() : String -> json
						mioGrid.resetData((result.list2));
					},
					error : function(reject) {
						console.log(reject);
					}
				})

			}

			// 현재 재고 현황(하단)
			let mioGrid;

			mioGrid = new tui.Grid({

				el : document.getElementById('grid2'),
				rowHeaders : [ 'checkbox' ], // 가장 왼쪽 체크박스
				scrollX : false, // 세로 스크롤 
				scrollY : false, // 가로 스크롤
				columns : [ {
					header : '자재번호',
					name : 'mno'
				}, {
					header : '거래처번호',
					name : 'mcompanyId'
				}, {
					header : '분류',
					name : 'mcategory'
				}, {
					header : '자재명',
					name : 'mname'
				}, {
					header : '현재 재고',
					name : 'mstock'
				}, {
					header : '증감',
					name : 'increase'
				}, {
					header : '최종수정일',
					name : 'mdate'
				}, {
					header : '입고일자',
					name : 'mioInputDate'
				}, {
					header : '사용일자',
					name : 'mioOutputDate'
				} ],
				pageOptions : {
					perPage : 10
				}

			})
			//tui.Grid 스타일 주기
			tui.Grid.applyTheme("normal", {
				cell : {
					nomal : {
						background : "#fff",
						border : "#e0e0e0",
						showVerticalBorder : false,
						showHorizontalBorder : true
					},
					header : {
						background : "#eaeaea",
						border : "#e0e0e0",
						showHorizontalBorder : true
					},
					rowHeader : {
						background : "#eaeaea",
						border : "#e0e0e0",
						showVerticalBorder : false,
						showHorizontalBorder : true
					},
				},

			});
			// ajax로 상,하단 페이지 데이터 부르기
			test();
			
			// 자재 정보 상세조회
			infoGrid.on('click', ev => {			
				if(ev.rowKey>=0){
			console.log(infoGrid.getRow(ev.rowKey).mno);
				
			let myModalAlternative = new bootstrap.Modal('#mInfoModal')
			let modalToggle = document.getElementById('mInfoModal');
			myModalAlternative.show(modalToggle)	
				}
			})		
		
			
			
			
			
			// 자재 등록 click -> 페이지 전환
			function mInfoInsert() {
				window.location.href = 'minsert'
			}

			// 자재 정보 수정 check box ->  click -> 페이지 전환
			// 1. check box 선택
			// 2. 정보 가져오기 
			
			
			function mInfoUpdate() {
				window.location.href = 'mInfoUpdate'
			}

			// 자재 정보 삭제 모달	
			let delbtn = document.getElementById('delbtn');
			delbtn.addEventListener('click', function() {
				let myModalAlternative = new bootstrap.Modal('#delModal')
				let modalToggle = document.getElementById('delModal');
				myModalAlternative.show(modalToggle)
				mioGrid.refreshLayout()

			})

			// 자재 삭제
			// 1. checkbox 선택
			// 2. 선택된 checkbox의 값에서 mno 가져오기  버튼 -> 함수(onclick -> ajax 실행) -> mno 보내주고 삭제
			// 3. 삭제 실행 (모달창의 확인 클릭)
			function checkDel() {

				let delmno = [];
				let obj = infoGrid.getCheckedRows()
				for (key in obj) {
					delmno.push(obj[key].mno);
				}
				// debugger
				let header = $("meta[name='_csrf_header']").attr('content');
				let token = $("meta[name='_csrf']").attr('content');
				$.ajax({
					url : "http://localhost:85/ajax/mdelinfo",
					method : "Post",
					contentType : "application/json",
					data : JSON.stringify(  { "delmno" : delmno} ),
					beforeSend : function(xhr) {
						xhr.setRequestHeader(header, token);
					},
					success : function(result) {
						console.log(result);
						test();

					},
					error : function(reject) {
						console.log(reject);
					}
				})
			}
		</script>

		<!-- 오류나면 여기보셈 -->
		<!-- Modal start .  주문등록/수정 모달-->
		<div class="modal fade" id="pctReauest">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">요청</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>

					<form id="insertForm2" action="insertProcess" method="post"
						onsubmit="formOption1()">
						<!-- Modal body -->
						<div class="modal-body">
							<table class="table">
								<tr>
									<td>주문번호</td>
									<td><input class="form-control" id="orderNo"
										name="orderNo" value="" type="text" readonly></td>
									<td>거래처번호</td>
									<td><input class="form-control" id="clientNo"
										name=clientNo type="text" required></td>
								</tr>
								<tr>
									<td>공정내용</td>
									<td><textarea class="form-control" id="productNo"
											name="productNo" rows="5" required></textarea></td>
								</tr>
								<tr>
									<td>주문일자</td>
									<td><input class="form-control" id="orderDate"
										name="orderDate" type="text" required></td>
								</tr>
								<tr>
									<td>납기일자</td>
									<td><input class="form-control" id="deliveryDate"
										name="deliveryDate" type="text" required></td>
								</tr>
								<tr>
									<td>제품명</td>
									<td><input class="form-control" id="productName"
										name="productName" type="text" required></td>
								</tr>
								<tr>
									<td>수량</td>
									<td><input class="form-control" id="totalNum"
										name="totalNum" type="text" required></td>
								</tr>
								<tr>
									<td>공급가액</td>
									<td><input class="form-control" id="totalPrice"
										name="totalPrice" type="text" required></td>
								</tr>
								<tr>
									<td>부가세</td>
									<td><input class="form-control" id="surtax" name="surtax"
										type="text" required></td>
								</tr>
								<tr>
									<td>요청사항</td>
									<td><input class="form-control" id="note" name="note"
										type="text" required></td>
								</tr>
								<tr>
									<td>코드번호</td>
									<td><input class="form-control" id="orderCode"
										name="orderCode" type="text" required></td>
								</tr>
								<tr>
									<td>진행상황</td>
									<td><input class="form-control" id="orderProgressCode"
										name="orderProgressCode" type="text" required></td>
								</tr>
								<tr>
									<td>배송상황</td>
									<td><input class="form-control" id="deliveryInfo"
										name="deliveryInfo" type="text" required></td>
								</tr>
								<tr>
									<td>출납상황</td>
									<td><input class="form-control" id="ioCode" name="ioCode"
										type="text" required></td>
								</tr>

							</table>
						</div>

						<!-- Modal footer . 주문등록/수정 모달-->
						<div class="modal-footer">
							<button type="button" class="btn btn-primary">등록</button>
							<button type="button" class="btn btn-danger"
								data-bs-dismiss="modal">취소</button>
						</div>
					</form>

				</div>
			</div>
		</div>
		<!-- Modal end  -->

		<script>
		/*
		function formOption1() {
			document.querySelector('#insertForm1').submit();

		}
		function formOption2() {

			document.querySelector('#insertForm2').submit();
		}
	*/
	</script>
</body>

</html>