<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<style type="text/css">
.img {
	width: 1200px;
	height: 600px;
   
}
</style>
<title>Sales main</title>
</head>


<body>
	<!-- <img class="Magnifying-Glass-img" id="infoMandu" alt="image" src="../images/info.png" 
      data-bs-toggle="tooltip" data-bs-placement="bottom" title="유통기한 일주일 이하 시, 　'경고' 표시 (폐기등록 필요)"> -->
	<div layout:fragment="content">
		<div>
			<img class="img" alt="제품사진" src="/css/salesImg/goods.jpg">
		</div>
	</div>
	
	<!-- /*------------
   // 만두 Info
   ----------------*/
   var exampleEl = document.getElementById('infoMandu')
   var tooltip = new bootstrap.Tooltip(exampleEl, {placement:'right'})
   $(document).ready(function(){
       $('[data-toggle="tooltip"]').tooltip();
   });
    -->
</body>
</html>
