<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
										<a class="nav-link" href="/client/insertOrder">주문하기</a>
										<a class="nav-link" href="/client/orderList">주문조회</a>
										<a class="nav-link" href="/client/myPage">마이페이지</a>
										<!-- 레이아웃 정리 시 따로 빼내야함 : 로그인,아웃 상관없이 보여줄거라서  -->
										<a class="nav-link" href="/client/productList">
<p>
로그인,아웃 상관없이 우리홈페이지 접속시
사람들이 볼 제품들..

기능 : 마우스호버시 -> 상세내용 보이게(조회 느낌?),
</p>

</body>
</html>