<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Sales main</title>

<!-- chart grid : 안되면 레이아웃에 넣기 -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
<script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>

</head>


<body>
										<a class="nav-link" href="/client/insertOrder">주문하기</a>
										<a class="nav-link" href="/client/orderList">주문조회</a>
										<a class="nav-link" href="/client/myPage">마이페이지</a>
										<!-- 레이아웃 정리 시 따로 빼내야함 : 로그인,아웃 상관없이 보여줄거라서  -->
										<a class="nav-link" href="/client/productList">
<p>
로그인,아웃 상관없이 우리홈페이지 접속시
사람들이 볼 제품들..

기능 : 마우스호버시 -> 상세내용 보이게(조회 느낌?),
</p>

</body>
</html>