<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<title>Insert title here</title>
<link
	href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800"
	rel="stylesheet">
<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
	rel="stylesheet" />

<script src="https://d3js.org/d3.v6.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
	crossorigin="anonymous">
	</script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
	crossorigin="anonymous">

	</script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- 엑셀 CND -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>

<!-- toast select box -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/select-box/latest/toastui-select-box.css" />
<script
	src="https://uicdn.toast.com/select-box/latest/toastui-select-box.js"></script>

<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />

<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script
	src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!-- modal -->

<!--toast date-picker-->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<link href="/css/tabcss/tabcss.css" rel="stylesheet" />
<link href="/css/styles.css" rel="stylesheet" />
<link href="/css/layout.css" rel="stylesheet" />


<style >
body{
font-size: large;
}
</style>

</head>

<body class="sb-nav-fixed">

	<nav layout:fragment="menu"
		class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<!-- Navbar Brand-->
		<div style="width: 206px; height: 100px" align="center">
			<a class="navbar-brand ps-3" href="/main"><img
				style="padding-top: 30px; width: 68%;" src="/assets/img/logo.PNG"></a>
		</div>

		<!-- Sidebar Toggle-->
		<div sec:authorize="!isAnonymous()">
			<div class="dropdown" style="margin-left: 20px">
				<button class="btn btn-secondary dropdown-toggle" type="button"
					id="dropdownMenuButton1" data-bs-toggle="dropdown"
					aria-expanded="false">
					<i class="fas fa-solid fa-bell" id="alertYn"></i>
				</button>
				<table class="dropdown-menu" aria-labelledby="dropdownMenuButton1"
					style="width: 280px; text-align: center;" id="alertTable">
				</table>
			</div>
		</div>
		<!-- Navbar Search-->
		<form
			class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
		</form>
		<!-- Navbar-->
		<h6 th:if="${session.usersId != null }" style="color: white;">[[${session.usersAuthor}]]
			[[${session.usersName}]]</h6>
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
				role="button" data-bs-toggle="dropdown" aria-expanded="false"><i
					class="fas fa-user fa-fw"></i></a>
				<ul class="dropdown-menu dropdown-menu-end"
					aria-labelledby="navbarDropdown">
					<li sec:authorize="!isAnonymous()"><a class="dropdown-item"
						href="/userInfo">개인정보</a></li>
					<li>
						<hr class="dropdown-divider" />
					</li>
					<li>
						<div sec:authorize="isAnonymous()">
							<a class="dropdown-item" href="/login">로그인</a>
						</div>
						<div sec:authorize="!isAnonymous()">
							<form action="/logout" method="post">
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}" />
								<button class="dropdown-item" type="submit">로그아웃</button>
							</form>
						</div>
					</li>
				</ul></li>
		</ul>
	</nav>
	<div layout:fragment="sidebar" id="layoutSidenav">
	
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion" style="padding-top: 20px;"><br>
				<div class="sb-sidenav-menu" sec:authorize="hasRole('ROLE_D0101')">
					&nbsp; &nbsp; [[${session.usersId}]]님
					<div class="nav">
						<div class="sb-sidenav-menu-heading">회원관리</div>
						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseLayouts" aria-expanded="false"
							aria-controls="collapseLayouts">
							<div class="sb-nav-link-icon">
								<i class="fas fa-columns"></i>
							</div> 사원관리
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseLayouts"
							aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">

								<a class="nav-link" href="/userList">사원조회</a>
							</nav>
						</div>
					</div>
				</div>
				<div class="sb-sidenav-menu" sec:authorize="hasRole('ROLE_D0105')">				
					<div class="nav">
					&nbsp; &nbsp; 생산팀 [[${session.usersId}]]님
						<div class="sb-sidenav-menu-heading">Main</div>
						<a class="nav-link" href="/produce/main">
							<div class="sb-nav-link-icon">
								<i class="fas fa-tachometer-alt"></i>
							</div> 생산관리메인
						</a>						
						<div class="nav">

							<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
								data-bs-target="#collapseLayouts" aria-expanded="false"
								aria-controls="collapseLayouts">
								<div class="sb-nav-link-icon">
									<i class="fas fa-columns"></i>
								</div> 생산 관리
								<div class="sb-sidenav-collapse-arrow">
									<i class="fas fa-angle-down"></i>
								</div>
							</a>
							<div class="collapse" id="collapseLayouts"
								aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
								<nav class="sb-sidenav-menu-nested nav">

									<a class="nav-link" href="/produce/main">생산관리 메인</a> <a
										class="nav-link" href="/produce/planList">생산계획 관리</a> <a
										class="nav-link" href="/produce/instructList">생산지시 관리</a> <a
										class="nav-link" href="/produce/regist">검수 관리</a> <a
										class="nav-link" href="/produce/completeList">완제품 리스트</a> <a
										class="nav-link" href="/produce/bom">BOM 관리</a> <a
										class="nav-link" href="/produce/goods">제품 관리</a> <a
										class="nav-link" href="/produce/errorPage">불량 관리</a>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<!-- jini start -->
				<div class="sb-sidenav-menu" sec:authorize="hasRole('ROLE_D0109')">
					<div class="nav">
						<br>
						<div class="sb-sidenav-menu">
							&nbsp; &nbsp;영업팀 [[${session.usersName}]] 님
							<div class="nav">
								<!-- 영업관리 -->
								<div class="sb-sidenav-menu"
									sec:authorize="hasRole('ROLE_D0109')||hasRole('ROLE_D0110')">

									<div class="sb-sidenav-menu-heading"
										sec:authorize="hasRole('ROLE_D0109')||hasRole('ROLE_D0110')">
									</div>
									<a class="nav-link collapsed" href="/orders/sMain"
										data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
										aria-expanded="false" aria-controls="collapseLayouts">
										<div class="sb-nav-link-icon">
											<i class="fas fa-columns"></i>
										</div> 영업 관리
										<div class="sb-sidenav-collapse-arrow">
											<i class="fas fa-angle-down"></i>
										</div>
									</a>

									<div class="collapse" id="collapseLayouts"
										aria-labelledby="headingOne"
										data-bs-parent="#sidenavAccordion"
										sec:authorize="hasRole('ROLE_D0109')||hasRole('ROLE_D0110')">
										<nav class="sb-sidenav-menu-nested nav">
											<a class="nav-link" href="/orders/sMain">영업정보 관리</a>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- jini end -->
				<!-- jini start -->
				<div class="sb-sidenav-menu" sec:authorize="hasRole('ROLE_D0102')">
					<div class="nav">
						<br>
						<div class="sb-sidenav-menu">
							&nbsp; &nbsp; 환영합니다! [[${session.usersName}]] 님
							<div class="nav">
								<!-- 영업관리 -->								
								<div class="sb-sidenav-menu"
									sec:authorize="hasRole('ROLE_D0102')">

									<div class="sb-sidenav-menu-heading"
										sec:authorize="hasRole('ROLE_D0102')"></div>
									<a class="nav-link collapsed" href="/client/main"
										data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
										aria-expanded="false" aria-controls="collapseLayouts">
										<div class="sb-nav-link-icon">
											<i class="fas fa-columns"></i>
										</div> 고객페이지
										<div class="sb-sidenav-collapse-arrow">
											<i class="fas fa-angle-down"></i>
										</div>
									</a>

									<div class="collapse" id="collapseLayouts"
										aria-labelledby="headingOne"
										data-bs-parent="#sidenavAccordion"
										sec:authorize="hasRole('ROLE_D0102')">
										<nav class="sb-sidenav-menu-nested nav">
											<a class="nav-link" href="/client/insertOrder">주문하기</a> <a
												class="nav-link" href="/client/orderList">제품활용</a>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- jini end -->
				<div class="sb-sidenav-menu"
					sec:authorize="hasRole('ROLE_D0107')||hasRole('ROLE_D0108')">
					<nav class="sb-sidenav accordion sb-sidenav-dark"
						id="sidenavAccordion">

						<div class="sb-sidenav-menu"
							sec:authorize="hasRole('ROLE_D0111')||hasRole('ROLE_D0106')">
							<div aria-labelledby="headingOne"
								data-bs-parent="#sidenavAccordion">
								<nav class="sb-sidenav-menu-nested nav">
									<a class="nav-link" href="/equipment/maintenance">설비 관리</a>
								</nav>
							</div>
						</div>
						<div class="sb-sidenav-menu"
							sec:authorize="hasRole('ROLE_D0107')||hasRole('ROLE_D0108')">
							<div class="nav">
							<p style="font-size:large; text-align: right;">설비팀 [[${session.usersName}]]님&nbsp;&nbsp;<br>환영합니다!&nbsp;&nbsp;</p>
								<div class="sb-sidenav-menu-heading" style="padding-top: 0px;">Main</div>
								<a class="nav-link" href="/equipment/main">
									<div class="sb-nav-link-icon">
										<i class="fas fa-tachometer-alt"></i>
									</div> 설비 메인
								</a>								
								<div class="sb-sidenav-menu">
									<div class="nav">

										<a class="nav-link collapsed" href="#"
											data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
											aria-expanded="false" aria-controls="collapseLayouts">
											<div class="sb-nav-link-icon">
												<i class="fas fa-columns"></i>
											</div> 설비 관리
											<div class="sb-sidenav-collapse-arrow">
												<i class="fas fa-angle-down"></i>
											</div>
										</a>
										<div class="collapse" id="collapseLayouts"
											aria-labelledby="headingOne"
											data-bs-parent="#sidenavAccordion">
											<nav class="sb-sidenav-menu-nested nav">

												<a class="nav-link" href="/equipment/process">공정관리</a> <a
													class="nav-link" href="/equipment/maintenance">보수관리</a> <a
													class="nav-link" href="/equipment/part">부품관리</a>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</nav>
				</div>
				<div class="sb-sidenav-menu" sec:authorize="hasRole('ROLE_D0103')">
					<div class="nav">						
						<br>
							&nbsp; &nbsp; &nbsp; 자재팀 [[${session.usersName}]] 님
							<br> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 환영합니다.
							<div class="nav">
						<div class="sb-sidenav-menu-heading">Main</div>
						<a class="nav-link" href="/material/main">
							<div class="sb-nav-link-icon">
								<i class="fas fa-tachometer-alt"></i>
							</div> 자재관리메인
						</a>
							
							<div class="nav">
								<!-- 자재관리 -->
								<div class="sb-sidenav-menu-heading"
									sec:authorize="hasRole('ROLE_D0103')||hasRole('ROLE_D0104')">자재관리</div>
								<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
									data-bs-target="#collapseLayouts" aria-expanded="false"
									aria-controls="collapseLayouts">
									<div class="sb-nav-link-icon">
										<i class="fas fa-columns"></i>
									</div> 자재관리
									<div class="sb-sidenav-collapse-arrow">
										<i class="fas fa-angle-down"></i>
									</div>
								</a>

								<div class="collapse" id="collapseLayouts"
									aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion"
									sec:authorize="hasRole('ROLE_D0103')||hasRole('ROLE_D0104')">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="/material/minfo">자재정보 관리</a> <a
											class="nav-link" href="/material/mcart">발주진행 관리</a> <a
											class="nav-link" href="/material/miolist">입출고 목록</a> <a
											class="nav-link" href="#"></a>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>

			</nav>
		</div>
		<div class="modal fade" id="alertModal" data-backdrop="static"
			data-keyboard="false">

			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">
							<span id="whatEno"></span>[[${session.usersId}]]님의 알림
						</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>


					<!-- <sec:csrfInput/> -->
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />

					<!-- Modal body -->
					<div id="equipInfo" class="modal-body">
						<input type="hidden" id="alertNo">
						<table class="table" style="text-align: center">
							<tr>
								<td width="200px">보낸날짜</td>
								<td><input class="form-control wantUpdate" id="alertDate"
									name="alertDate" type="text" readonly></td>

							</tr>
							<tr>
								<td width="100px">알림내용</td>
								<td colspan="3"><textarea
										class="form-control wantUpdate textWidth" id="alertContent"
										name="equipPurpose" rows="5" readonly></textarea></td>
							</tr>
						</table>
					</div>
					<!-- Modal footer -->
					<div class="modal-footer">
						<input id="update" type="hidden">
						<button type="button" class="btn btn-primary updateBtn"
							id="checkBtn" data-bs-dismiss="modal">확인</button>
						<button type="button" class="btn btn-danger"
							data-bs-dismiss="modal">닫기</button>
					</div>

				</div>
			</div>
		</div>
		<!-- 알림 Script -->
		<script type="text/javascript">
			const header = $("meta[name='_csrf_header']").attr('content');
			const token = $("meta[name='_csrf']").attr('content');
			if (`[[${session.usersAuthor}]]` != null) {
				getAlertList();
				setInterval(getAlertList, 1000);
			}

			function getAlertList() {
				let usersNo = `[[${session.usersNo}]]`;
				$.ajax({
					url: "/getAlertList",
					type: "post",
					data: {
						usersNo: usersNo
					},
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					},
					success: function (data) {

						$('#alertTable').empty();
						if (data.length == 0) {
							$('#alertTable')
								.append(
									$('<tr><th style="width : 260px;"">새로운 알림이 없습니다</th></tr>'))
							$('#alertYn').css('animation-name', 'none')
						} else {
							$('#alertTable').append($(
								'<thead><tr><th width="250px">내용</th></tr></thead><tbody id="alertBody"></tbody>'
								))
							$('#alertYn').css('animation-name', 'btnColor')
							for (let val of data) {
								let send = val['alertSend'];
								let totalContent = val['alertContent'];
								console.log(totalContent)
								let content = "";
								let address = "";
								if(totalContent.indexOf("^")!=-1){
									let splited = totalContent.split("^")
									content = splited[1];
									address = splited[0];
								} else{
									content = totalContent;
								}
								let alertNo = val['alertNo'];
								$('#alertBody').append($('<tr><td class="contents" id="' +
									alertNo + '">' + content + '</td></tr>'))
							}
							$('.contents').on('click', function () {
								getAlert($(this).attr('id'));
							})
						}
					},
					error: function (reject) {
						console.log(reject);
					}
				})
			}

			function getAlert(alertNo) {
				$.ajax({
					url: "/getAlert",
					type: "post",
					data: {
						alertNo: alertNo
					},
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					},
					success: function (data) {
						for (let val in data) {
							console.log(val)
							let content = "";
							let address = "";
							if(val=='alertContent'){
								if(data[val].indexOf("^")!=-1){
									let splited = data[val].split("^");
									content = splited[1];	
									address =splited[0];
									$('#checkBtn').val(address);
								} else {
									content = data[val];
									$('#checkBtn').val("#");
								}
							$('#alertContent').val(content);
							} else {
								$('#' + val).val(data[val]);
							}
						}
						const myModal = new bootstrap.Modal('#alertModal', {
							backdrop: 'static',
							keyboard: false
						})
						myModal.show($('#alertModal'));
					},
					error: function (reject) {
						console.log(reject);
					}
				})
			}

			$('#checkBtn').on('click', updateAlert)

			function updateAlert() {
				let alertNo = $('#alertNo').val();
				$.ajax({
					url: "/updateAlert",
					type: "post",
					data: {
						alertNo: alertNo
					},
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					},
					success: function (data) {
						if (data == 1) {
							getAlertList();
						}
						if($('#checkBtn').val()!="#"){
							location.href=$('#checkBtn').val();
						}
					},
					error: function (reject) {
						console.log(reject);
					}
				})
				$('#alertModal').hide();
			}



			$('#alertTable').click(function () {
				return false;
			})
		</script>
		<div id="layoutSidenav_content">
			<main>
				<div layout:fragment="content"></div>
			</main>
		</div>
	</div>

</body>

</html>