<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Sales main</title>
<!-- 엑셀 다운 CDN-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>

<style>
#od-btn {
	float: right;
}

#toast-container>div {
	opacity: 1;
}

.toast-top-center {
	top: 70px;
}
</style>
</head>


<body>

	<div layout:fragment="content">
		<!-- ok -->

		<div align="center" id="od-title">
			<h3>영업 관리</h3>
		</div>




		<div>
			<!-- tab div -->
			<!-- 탭 버튼 설정 -->
			<ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="manage-tab"
						data-bs-toggle="tab" data-bs-target="#manage" type="button"
						role="tab" aria-controls="manage" aria-selected="true">주문관리</button>
				</li>
				<!--주문관리 tab btn-->

				<li class="nav-item" role="presentation">
					<button class="nav-link" id="insert-tab" data-bs-toggle="tab"
						data-bs-target="#insert" type="button" role="tab"
						aria-controls="insert" aria-selected="false">생산관리</button>
				</li>
				<!--생산지시 tab-->

				<li class="nav-item" role="presentation">
					<button class="nav-link" id="proTest-tab" data-bs-toggle="tab"
						data-bs-target="#pTest" type="button" role="tab"
						aria-controls="insert" aria-selected="false">완제품 검수관리</button>
				</li>

				<li class="nav-item" role="presentation">
					<button class="nav-link" id="proStock-tab" data-bs-toggle="tab"
						data-bs-target="#pStock" type="button" role="tab"
						aria-controls="insert" aria-selected="false">완제품 재고관리</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="proOut-tab" data-bs-toggle="tab"
						data-bs-target="#pOut" type="button" role="tab"
						aria-controls="insert" aria-selected="false">완제품 출고관리</button>
				</li>
			</ul>

			<!-- 탭 본문 -->
			<!-- 주문관리 start-->
			<!-- div -->
			<div class="tab-content" id="myTabContent">
				<!--주문관리 탭-->
				<div class="tab-pane fade show active" id="manage" role="tabpanel"
					aria-labelledby="manage-tab">
					<div style="margin: 15px;">

						<!-- 검색창 start -->
						<label for="actCd">검색 <input id="actCd">
						</label>

						<button class="btn btn-dark btn-sm">찾기</button>
						<!-- 검색창 end -->

						<table style="width: 100%;">

							<tr>
								<td style="width: 80px">계획일자 &nbsp;</td>
								<td>
									<!-- date-picker -->
									<div
										class="tui-datepicker-input tui-datetime-input tui-has-focus">
										<input id="startpicker-input" type="text" aria-label="Date">
										<span class="tui-ico-date"></span>
										<div id="startpicker-container" style="margin-left: -1px;"></div>
									</div> <span>-</span>
									<div
										class="tui-datepicker-input tui-datetime-input tui-has-focus">
										<input id="endpicker-input" type="text" aria-label="Date">
										<span class="tui-ico-date"></span>
										<div id="endpicker-container" style="margin-left: -1px;"></div>
									</div>
									<button type="button" id="searchBtn"
										class="btn btn-dark btn-sm">찾기</button>
									<button type="button" id="cancelBtn"
										class="btn btn-dark btn-sm">초기화</button>
								</td>
								<td>
									<!-- 
							$('#delbtn').on('click', checkDel); // 체크박스 - 삭제버튼 이벤트
							$('#updatebtn').on('click', updatebtn); //주문 - 수정		
							$('#newPro').on('click', newPro); //신규생산 지시버튼 이벤트 -> 체크박스 다중선택 가능
							$('#exlBtn').on('click', exl); //엑셀버튼 클릭 이벤트			
							 -->
										<button id="newPro" type="button"
											class="btn btn-secondary btn-sm" data-bs-toggle="modal"
											data-bs-target="#pctRequest">생산지시요청</button>
										<button id="updatebtn" class="btn btn-secondary btn-sm">수정</button>
										<button class="btn btn-secondary btn-sm">추가</button>
										<button id="delbtn" class="btn btn-secondary btn-sm">삭제</button>
										<button id="exBtn" class="btn btn-secondary btn-sm">엑셀</button>
										<button class="btn btn-secondary btn-sm">PDF</button>
								
							
								
								
								</td>
							</tr>

							

									
									

							<tr>
								<td colspan="3">
									<!-- 전체조회 grid filter -->
									<div id="grid" style="width: 800px"></div>

								</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td style="text-align: right;">
									<button type="button" id="updateBtn"
										class="btn btn-dark btn-sm">계획수정</button>
									<button type="button" id="deleteBtn"
										class="btn btn-dark btn-sm">계획취소</button>
								</td>
							</tr>
						</table>

					</div>

				</div>









				<!-- 생산 관리 tab body -->
				<!-- 등록 탭 -->
				<div class="tab-pane fade" id="insert" role="tabpanel"
					aria-labelledby="insert-tab">
					<div style="margin: 15px;">
						<table style="width: 100%;">
							<tr>
								<td style="width: 140px;">생산 계획명 &nbsp;</td>
								<td><input type="text" name="planName" id="planName"
									placeholder="계획명을 입력하세요"></td>
							</tr>
							<tr>
								<td>생산 계획 일자 &nbsp;</td>
								<td>
									<div
										class="tui-datepicker-input tui-datetime-input tui-has-focus">
										<input type="text" id="datepicker-input"
											aria-label="Date-Time"> <span class="tui-ico-date"></span>
									</div>
									<div id="wrapper" style="margin-top: -1px;"></div>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<div id="insertGrid" style="width: 100%;"></div>
								</td>
							</tr>
							<tr>
								<td style="text-align: left;" colspan="2">
									<!-- 모달버튼 -->
									<button type="button" id="showBtn" class="btn btn-dark btn-sm"
										data-bs-toggle="modal" data-bs-target="#requestModal">생산요청서
										조회</button>
									<button type="button" id="insertBtn"
										class="btn btn-dark btn-sm">계획등록</button>
									<button type="button" id="plusBtn" class="btn btn-dark btn-sm">행
										추가</button>
									<button type="button" id="removeBtn"
										class="btn btn-dark btn-sm btn-danger">행 삭제</button>
								</td>
							</tr>
						</table>

					</div>

				</div>
				<!-- 생산지시 관리 tab end -->

			</div>
			<!-- tab 본문 end -->

		</div>
		<!-- tab end -->



		<!--modal start-->
		<!-- 안 먹고있음  -->
		<!-- 생산요청서 모달 -->
		<div class="modal" id="requestModal" tabindex="-1">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">생산요청서 목록</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close" id="close_modal"></button>
					</div>
					<div class="modal-body">
						<div>
							<div id="requestModalGrid"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 주문정보삭제 모달  -->
		<!-- 제품리스트 모달 -->
		<div class="modal" id="materialModal" tabindex="-1">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">제품 목록</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close" id="close_modal"></button>
					</div>
					<div class="modal-body">
						<div>
							<div id="materialGrid"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--modal end-->



		<script>
			/*데이터피커, 엑셀0, PDF, 수정0 - 만들기 11/18*/

			//date picker 초기화
			//searchInit();


			//그리드 초기화
			//let Ordergrid = tabOrderGrid(); //주문관리 탭 초기화
			//let insertGrid = tab2GridInit(); // 생산요청 탭 그리드 초기화

			//버튼 이벤트 핸들러
			$('#delbtn').on('click', checkDel); // 체크박스 - 삭제버튼 이벤트
			$('#updatebtn').on('click', updatebtn); //주문 - 수정		
			$('#newPro').on('click', newPro); //신규생산 지시버튼 이벤트 -> 체크박스 다중선택 가능
			$('#exlBtn').on('click', exl); //엑셀버튼 클릭 이벤트


			/*------------
			 datepicker
			----------------*/
			function searchInit() {
				// toast - datepicker
				pickerInit('#wrapper', '#datepicker-input', getToday());
				rangeDatepickerInit('#startpicker-input', '#startpicker-container', '#endpicker-input', '#endpicker-container')
			}


			/*----------------------
			주문목록 아작스연결
			----------------------*/
			window.onload = function () {
				$.ajax({
					url: "http://localhost:85/ajax/orders",
					method: "GET",
					dataType: "JSON",
					success: function (result) {

						//console.log(result);

						grid.resetData(result);
					},
					error: function (reject) {
						console.log(reject);
					}

				});
			}


			//주문 목록 리스트 
			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				/*
				data: [{
				orderNo: 1,
				clientNo: 100,
				productNo: '11',
				orderDate: '2022-11-01',
				deliveryDate: '2022-12-30',
				productName: 'TPA-110',
				totalNum: 200,
				totalPrice: 500000,
				surtax: 50000,
				note: '배송전 연락주세요',
				orderCode: '신규',
				orderProgressCode: '5259',
				deliveryInfo : '대기중',
				ioCode : '대기중'
				}],
				 */
				rowHeaders: ['checkbox'], //왼쪽 체크박스
				scrollX: false, //세로 스크롤
				scrollY: false, //가로 스크롤
				columns: [{
					header: '주문번호',
					name: 'orderNo',
					width: 'auto'
				}, {
					header: '거래처번호',
					name: 'clientNo',
				}, {
					header: '제품번호',
					name: 'productNo'
				}, {
					header: '주문일자',
					name: 'orderDate'
				}, {
					header: '납기일자',
					name: 'deliveryDate',
				}, {
					header: '제품명',
					name: 'productName',
				}, {
					header: '수량',
					name: 'totalNum',
				}, {
					header: '공급가액',
					name: 'totalPrice',
				}, {
					header: '부가세',
					name: 'surtax',

				}, {
					header: '요청사항',
					name: 'note',

				}, {
					header: '주문타입',
					name: 'orderCode'


				}, {
					header: '생산지시',
					name: 'orderProgressCode',
					formatter: 'listItemText',
					editor: {
						type: 'select',
						options: {
							listItems: [{
									text: '대기중',
									value: 'B0101'
								},
								{
									text: '진행중',
									value: 'A0102'
								},
								{
									text: '완료',
									value: 'A0103'
								}
							]
						}
					}

				}, {
					header: '배달상황',
					name: 'deliveryInfo',
					formatter: 'listItemText',
					editor: {
						type: 'select',
						options: {
							listItems: [{
									text: '대기중',
									value: 'B0101'
								},
								{
									text: '배송중',
									value: 'B0102'
								},
								{
									text: '배송완료',
									value: 'B0103'
								}
							]
						}
					}

				}, {
					header: '출납상황',
					name: 'ioCode',
					formatter: 'listItemText',
					editor: {
						type: 'select',
						options: {
							listItems: [{
									text: '대기중',
									value: 'B0101'
								},
								{
									text: '진행중',
									value: 'A0102'
								},
								{
									text: '완료',
									value: 'A0103'
								}
							]
						}
					}

				}]

			});

			// 주문 삭제 모달
			/*
			let delbtn = document.getElementById('delbtn');
			delbtn.addEventListener('click', function () {
				let myModalAlternative = new bootstrap.Modal('#delModal')
				let modalToggle = document.getElementById('delModal');
				myModalAlternative.show(modalToggle)
				mioGrid.refreshLayout()
			})
			*/



			/*------------
			삭제 버튼 클릭(그리드행 삭제)

			// 1. checkbox 선택
			// 2. 선택된 checkbox의 값에서 mno 가져오기  버튼 
			//-> 함수(onclick -> ajax 실행) -> mno 보내주고 삭제
			// 3. 삭제 실행 (모달창의 확인 클릭)
			//getCheckedRows -> 배열
			----------------*/

			function checkDel() {
				const noList = [];
				var obj = grid.getCheckedRows()
				console.log(obj);
				for (key of obj) {
					//읽어낼 컬럼명
					console.log(key.orderNo);
					noList.push(key.orderNo); //{}
				}
				console.log(noList);
				var header = $("meta[name='_csrf_header']").attr('content');
				var token = $("meta[name='_csrf']").attr('content');
				// debugger
				$.ajax({
					url: "/ajax/delcheckOrder",
					method: "Post",
					contentType: "application/json",
					data: JSON.stringify({
						"noList": noList
					}),
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					},
					success: function (result) {
						//삭제된 데이터들 새로고침 
						//rowKey
						const delList = [];
						for (key of obj) {
							//읽어낼 컬럼명
							console.log(key.rowKey);
							delList.push(key.rowKey);
						}
						grid.removeRows(delList)

					},
					error: function (reject) {
						console.log(reject);
					}
				})
			}




			/*------------
			수정 버튼 클릭(출납, 배송, 생산 셀렉트엔터)
			----------------*/
			function updatebtn() {

				var header = $("meta[name='_csrf_header']").attr('content');
				var token = $("meta[name='_csrf']").attr('content');
				// debugger
				$.ajax({
					url: "/ajax/upOrders",
					method: "Post",
					contentType: "application/json",
					data: JSON.stringify(grid.getModifiedRows().updatedRows),
					beforeSend: function (xhr) {
						xhr.setRequestHeader(header, token);
					},
					success: function (result) {
						console.log(result);

					},
					error: function (reject) {
						console.log(reject);
					}
				})
			};



			/*------------
			신규주문버튼 클릭(체크박스에 다중선택 -> 생산요청(제고연결))
			----------------*/
			function newPro() {
				let data = grid.getColumnValues('orderCode');
				// console.log(data);

				let newP = grid.findRows({
					orderCode: '신규'
				});
				newP.forEach((row) => {
					grid.check(row.rowKey);
				});
			};

			//체크된 신규 주문 -> 버튼클릭 -> 신규 -> 상태 접수로 바뀜 -> 생산계획리스트
			/*
				$('#ordPro').on('click', ordPro);
	
				function ordPro() {
					
					var header = $("meta[name='_csrf_header']").attr('content');
					var token = $("meta[name='_csrf']").attr('content');
					// debugger
					$.ajax({
						url: "/ajax/ordPro",
						method: "Post",
						contentType: "application/json",
						data: JSON.stringify(grid.getModifiedRows().updatedRows),
						beforeSend: function (xhr) {
							xhr.setRequestHeader(header, token);
						},
						success: function (result) {
							console.log(result);
							
						},
						error: function (reject) {
							console.log(reject);
						}
					})
				}
						*/

			/*------------
			// 엑셀 다운받기
			----------------*/
			function exl() {
				let options = {
					includeHeader: true,
					includeHiddenColumns: true,
					onlySelected: true,
					fileName: 'Order List'
				};
				grid.export('xlsx', options);
			};
			// tab1 - 주문 관리 end 







			//tab2 - 생산관리 start
			
			//tab2 - 생산관리 end
		</script>


	</div>
</body>

</html>

