<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">
<head>

<meta charset="UTF-8">

<title>발주정보관리</title>
<!--toast date-picker-->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>



</head>
<style>
/*bootstrap grid 스타일 */
* {
	box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
	width: 100%;
	padding: 10px;
	height: auto;
	/* Should be removed. Only for demonstration */
	outline: solid 1px black;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

#btn {
	float: right;
	margin-right: 5px;
}

#regdate {
	margin-left: 10px;
}
</style>
</head>

<body>
	<div layout:fragment="content">
		<div class="container">

			<div class="row">
				<div class="column">
					<h2>발주 대기 관리</h2>
					<div id="wrap">
						<form>

							<div id="btn">

								<button type="button" class="btn btn-secondary btn-sm"
									id="insertbtn" style="float: right" onclick="updateMoNum()">
									저장</button>
								<!-- <button type="button" class="btn btn-secondary btn-sm"
									id="plusbtn" style="float: right" >추가</button> -->
								<button type="button" class="btn btn-secondary btn-sm"
									id="cdelbtn" style="float: right">삭제</button>
							</div>

						</form>
						<div>
							<div id="grid"></div>
						</div>
					</div>
				</div>
				<div class="column">
					<h2>발주 진행 현황</h2>

					<div id="mdate" style="margin-left: 10px; z-index: 1001;">
						<span>발주일자</span>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus"
							style="margin-bottom: 5px; z-index: 1001;">
							<input id="startpicker-input" type="text" aria-label="Date"
								name="startDate" style="margin-bottom: 5px; z-index: 1001">
							<span class="tui-ico-date"></span>
							<div id="startpicker-container" class="datePicker2"
								style="z-index: 1001"></div>
						</div>
						<span>~</span>
						<div class="tui-datepicker-input tui-datetime-input tui-has-focus"
							style="margin-bottom: 5px; z-index: 1001">
							<input id="endpicker-input" type="text" aria-label="Date" name=""
								style="margin-bottom: 5px; z-index: 1001"> <span
								class="tui-ico-date"></span>
							<div id="endpicker-container" class="datePicker2"
								style="margin-bottom: 5px; z-index: 1001"></div>
						</div>
						<button type="button" class="btn btn-secondary btn-sm"
							id="searchBtn">검색</button>
						<div id="btn">
							<button type="button" class="btn btn-secondary btn-sm"
								id="execlWord" style="float: right">출력</button>
							<button type="button" class="btn btn-secondary btn-sm"
								id="orderbtn" style="float: right" onclick="updateOrderStart()">실행</button>
							<button type="button" class="btn btn-secondary btn-sm"
								id="orderDelbtn" style="float: right" onclick="delOrderCheck()">삭제</button>
						</div>
						<div>
							<div id="grid2"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 발주 취소 알림-->
		<div class="modal" tabindex="-1" id="delModal" style="z-index: 1200">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" style="font-weight: bold;">발주확정알림</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body" style="text-align: center">
						<h5>
							발주 삭제 시,
							</h>
							<h>처음부터 진행해야합니다. 
						</h5>
						<h5>발주를 삭제하시겠습니까?</h5>
					</div>
					<div class="modal-footer" style="text-align: center">
						<!-- data-bs-dismiss :  모달 닫아주는 역할  -->
						<button type="button" class="btn btn-primary"
							data-bs-dismiss="modal" onclick="checkCartDel()">확인</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 자재 주문 추가 모달-->
		<div class="modal" tabindex="-1" id="mInfoModal" style="z-index: 1300">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" style="font-weight: bold;">자재 정보 상세내역</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body" style="text-align: left">
						<div id="grid2"></div>
					</div>
					<div class="modal-footer" style="text-align: center">
						<!-- data-bs-dismiss :  모달 닫아주는 역할  -->
						<button type="button" class="btn btn-primary"
							data-bs-dismiss="modal" onclick="">확인</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>


		<!-- 발주 내역 삭제 모달-->
		<div class="modal" tabindex="-1" id="orderDelModal"
			style="z-index: 1300">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" style="font-weight: bold;">자재 정보 상세내역</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body" style="text-align: left">발주가 완료된 오더는
						삭제가 불가능합니다.</div>
					<div class="modal-footer" style="text-align: center">
						<!-- data-bs-dismiss :  모달 닫아주는 역할  -->
						<button type="button" class="btn btn-primary"
							data-bs-dismiss="modal" style="float: center">확인</button>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal" style="float: center">취소</button>
					</div>
				</div>
			</div>
		</div>

		<script>

         // 데이터 피커 (발주 날짜로 찾기)
         let today = new Date();
         let picker = tui.DatePicker.createRangePicker({
            startpicker : {
               date : today,
               input : '#startpicker-input',
               container : '#startpicker-container',

            },
            endpicker : {
               date : today,
               input : '#endpicker-input',
               container : '#endpicker-container',

            },
            selectableRanges : [ [
                  new Date(today.getFullYear() - 5, today.getMonth(),
                        today.getDate()),
                  new Date(today.getFullYear() + 5, today.getMonth(),
                        today.getDate()) ] ],

         });
         

         // 발주 대기 관리 (상단)
         let mCartGrid;

         mCartGrid = new tui.Grid({
            el : document.getElementById('grid'),
            rowHeaders : [ 'checkbox' ], // 가장 왼쪽 체크박스
            //scrollX : false, // 세로 스크롤 
            //scrollY : false, // 가로 스크롤
            columns : // 컬럼명
            [ {
               header : '주문번호',
               name : 'morderId'
            },

            {
               header : '자재코드',
               name : 'mno'
            }, {
               header : '거래처번호',
               name : 'mcompanyId'
            }, {
               header : '자재명',
               name : 'mname'
            },

            {
               header : '거래처명',
               name : 'mcompanyNm'
            },

            {
               header : '수량',
               name : 'moNum',
               align : 'right',
               editor : 'text',
               validation : {
                  dataType : 'text',
                  required : true,
                  min : 2
               },
               onAfterChange: function(ev){
            	   let price =  mCartGrid.getRow(ev.rowKey).moUnitPrice
            	   let num = ev.value
            	   mCartGrid.setValue(ev.rowKey,'moTtPrice', price * num)
            	   console.log(ev);
               }, formatter: function(value) {		        	
	                return value.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','); // 3자리 마다 
	            }

            },

            {
               header : '단가',
               name : 'moUnitPrice',
               formatter: function(value) {
                   
                   return value.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')+' 원';
               }
            },

            {
               header : '단위',
               name : 'munitCode'
            },

            {
               header : '총금액',
               name : 'moTtPrice',
				formatter: function(value) {   
                   return value.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')+' 원';
           	 },
            } ],
            
            pageOptions : {
            useClient: true,
               perPage : 10
            }
         })

         // 발주현황관리(하단)
         let mOrderGrid;

         mOrderGrid = new tui.Grid({

            el : document.getElementById('grid2'),
            rowHeaders : [ 'checkbox' ], // 가장 왼쪽 체크박스
            scrollX : false, // 세로 스크롤 
            scrollY : false, // 가로 스크롤
            columns : [ 
            
            	{
               header : '그룹번호', // 이름 어떤 걸로 할지 체크
               name : 'moGrNo'
            },         
            
             {
               header : '자재명',
               name : 'mname'
            },

            {
                header : '발주일자',
                name : 'moDate'
             },

            {
               header : '총 금액',
               name : 'moTtPrice',
				formatter: function(value) {
                return value.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')+' 원';
            },
            },

            {
               header : '진행상태',
               name : 'moProgCode'

            }

            ],
            
            pageOptions : {
            	useClient: true,
               perPage : 10
            }

         })
         //tui.Grid 스타일 주기
         tui.Grid.applyTheme("normal", {
            cell : {
               nomal : {
                  background : "#ffffff",
                  border : "#e0e0e0",
                  showVerticalBorder : false,
                  showHorizontalBorder : true
               },
               header : {
                  background : "#eaeaea",
                  border : "#e0e0e0",
                  showHorizontalBorder : true
               },
               rowHeader : {
                  background : "#eaeaea",
                  border : "#e0e0e0",
                  showVerticalBorder : false,
                  showHorizontalBorder : true
               },
            },

         });

         /* 발주 대기목록, 발주현황관리 ajax */
         function mOrder() {
            $.ajax({
               url : "/ajax/morder",
               method : "GET",

               success : function(result) {
                  mCartGrid.resetData((result.list1));
                  mOrderGrid.resetData((result.list2));
               },
               error : function(reject) {
                  console.log(reject);
               }
            })

         }
         
         
  /*-----------------------
      	날짜 검색 버튼 이벤트 핸들러
      --------------------------*/
      function searchBtnHandler(){
     	 $('#searchBtn').on('click', function(){
     		 let getStartDay = $('#startpicker-input').val();
     		 let getEndDay = $('#endpicker-input').val();
     		 console.log(getStartDay);
     		 console.log(getEndDay);
     		 
     	  $.ajax({
     		  url : '/ajax/morder',
     		  data : {"startDate" : getStartDay, "endDate" : getEndDay},
     		  contentType : "application/json",
	          dataType : 'json',
	              method : 'GET',
	              success : function(result){
	            	  console.log(result);
	            	  mOrderGrid.resetData(result.list2);
	              },
	              error : function(reject){
	            	  console.log(reject);
	              }
     	  }) 
     		 
     	 })
      }
         
     

         /* -------------------------------------------------
           발주 대기목록 수량 업데이트
           1) 수량 컬럼에 숫자 입력 
           2) 숫자 입력(변경시) 체크박스 체크됨(checkde)
           3) 주문 저장 버튼을 클릭해서 발주 테이블로 넘김 => mOrderId, moNum 데이터 전송, ajax 
          ---------------------------------------------------*/

  
         function getMoNum() { 
        	   
        	  let updateNum =  mCartGrid.getCheckedRows();
        	   console.log(updateNum);
        	   
        	   
			$.ajax({
	               url : "/updateMoNum",
	               method : "POST",
	               contentType : "application/json",
	               data : JSON.stringify(updateNum),
	               beforeSend : function(xhr) {
	                  xhr.setRequestHeader(header, token);
	               },
	               success : function(result) {
	                  console.log(result);	                 
	                 
	               },
	               error : function(reject) {
	                  alert('수량 변경 실패');

	               }
	            })
           }	
		
         /*-----------------------------	
            발주 저장 (발주 대기 -> 발주 확정) 
         -----------------------------*/
         function updateMoNum() {        	 
        	
             let obj = mCartGrid.getCheckedRows();
             getMoNum();
             
            $.ajax({
               url : "/updateOrder",
               method : "POST",
               contentType : "application/json",
               data : JSON.stringify(obj),
               beforeSend : function(xhr) {
                  xhr.setRequestHeader(header, token);
               },
               success : function(result) {
            	   mOrder();
               },
               error : function(reject) {
                  alert('수량 변경 실패');

               }
            })
            
            	
            }

         

       
      // 발주 대기 삭제 확인 모달   
         let cartdelbtn = document.getElementById('cdelbtn');
         cartdelbtn.addEventListener('click', function() {
            let myModalAlternative = new bootstrap.Modal('#delModal')
            let modalToggle = document.getElementById('delModal');
            myModalAlternative.show(modalToggle)
            mOrderGrid.refreshLayout()

      	   });//end of delmodal
        
         
		// 발주 대기 삭제
         function checkOrderDel() {

            let delmno = [];
            let obj = mCartGrid.getCheckedRows()

            for (key in obj) {
               delmno.push(obj[key].morderId);

            }
            $.ajax({
               url : "/ajax/delcart",
               method : "Post",
               contentType : "application/json",
               data : JSON.stringify(obj),               
               beforeSend : function(xhr) {
                  xhr.setRequestHeader(header, token);
               },
               success : function(result) {
                  console.log(result);
                  mOrder();

               },
               error : function(reject) {
                  console.log(reject);
               }
            })
         }

      	   
      	 /*======================
      	  	발주 진행 현황 삭제 (오류 잡아야함)
      	  ========================*/  
      	  
          
      	  // 발주 완료시 삭제 불가 안내 모달  
          
     function delOrderCheck() { 	 
          		   
      let yn =0;
      let check = mOrderGrid.getCheckedRows();		 
      console.log(check);
      for(let obj of check){
    	if(obj.moProgCode=='발주완료'){
	      yn=1;
    	  continue;
    	}  
      }
      		if(yn==1){
      			
    		let myModalAlternative = new bootstrap.Modal('#orderDelModal');
            let modalToggle = document.getElementById('#orderDelModal');
            myModalAlternative.show(modalToggle);
            mOrderGrid.refreshLayout();
  			return false;
      		}
     
        else{
      		  
      		 let delmno = [];
      		 let obj = mOrderGrid.getCheckedRows();
      		 console.log(obj)
              for (key in obj) {
                 delmno.push(obj[key].mgrId);

              }
              $.ajax({
                 url : "/delorder",
                 method : "Post",
                 contentType : "application/json",
                 data : JSON.stringify(obj),               
                 beforeSend : function(xhr) {
                    xhr.setRequestHeader(header, token);
                 },
                 success : function(result) {
                    console.log(result);
                    mOrder();

                 },
                 error : function(reject) {
                    console.log(reject);
                 }
              })
           }   
       		   
      		  
      	  }   

           
  	// 발주 대기 삭제
             function checkCartDel() {

                let delmno = [];
                let obj = mCartGrid.getCheckedRows()
                
               
                for (key in obj) {
                   delmno.push(obj[key].morderId);

                }
                $.ajax({
                   url : "/ajax/delcart",
                   method : "Post",
                   contentType : "application/json",
                   data : JSON.stringify(obj),               
                   beforeSend : function(xhr) {
                      xhr.setRequestHeader(header, token);
                   },
                   success : function(result) {
                      console.log(result);
                      mOrder();

                   },
                   error : function(reject) {
                      console.log(reject);
                   }
                })
             }  
    		
             /*-----------------------------
             // 발주 확정(완료)
             ---------------------------------*/
             function updateOrderStart() { 
            	 
                 let obj = mOrderGrid.getCheckedRows();
                 
                $.ajax({
                   url : "/orderStart",
                   method : "POST",
                   contentType : "application/json",
                   data : JSON.stringify(obj),
                   beforeSend : function(xhr) {
                      xhr.setRequestHeader(header, token);
                   },
                   success : function(result) {
                	 console.log(result);
                	 mOrder();
                   },
                   error : function(reject) {
                      console.log(reject);

                   }
                })
                
                	
                }
             
             
             
      	   
         /*-----------------------------
         // 엑셀 내보내기
         ---------------------------------*/
         $('#execlWord').on('click',function(){
            let options = {
                    includeHeader : true,
                    includeHiddenColumns : true,
                    onlySelected : true,
                    fileName: 'Order List'
                  };
            mOrderGrid.export('xlsx', options);
         });  
      	   
         
         
         
         /*-----------------------------
         	이벤트 핸들러
         -------------------------------*/
                  
         searchBtnHandler();
          
            
      	   
         /*------------------------
            ajax 호출 
         -----------------------*/
         mOrder();
        
         
         
          
         
       </script>
	</div>
	<!-- end of layout -->
</body>

</html>