<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/modalLayout}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<style>
label{
font-weight: bold
}

h3{
text-align: center; 
font-weight: bolder
}

</style>
</head>
<body>
	<div layout:fragment="content">
		<!-- 도로명 주소 API  -->
		<script
			src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<div class="container" style="padding-top : 100px; padding-bottom: 20px">
			<h3>신규 거래처 등록</h3>			
			<hr>
			<!--신규 거래처 등록 form-->
			<form id="comFrm" name="comFrm" method="post" action="/material/mregcom">
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
				<div class="row p-3">
					<div class="col">
						<label for="input" class="col-form-label">* 거래처 번호</label> <input
							type="text" class="form-control" name="mCompanyId"
							th:value="${comId}">

					</div>

					<div class="col">
						<label for="input" class="col-form-label">* 거래처 명</label> <input
							type="text" class="form-control" name="mCompanyNm">
					</div>
				</div>

				<div class="row p-3">
					<div class="col">
						<label for="input" class="col-form-label">* 담당자 명</label> <input
							type="text" class="form-control" name="mMngNm">
					</div>

					<div class="col">
						<label for="input" class="col-form-label">* 연락처</label> <input
							type="text" class="form-control" name="mCompanyTel">
					</div>
				</div>


				<div class="row p-3">
					<label for="input" class="col-form-label">* 거래처 주소</label> <input
						id="com_post" type="text" class="form-control" name="mZipCode"
						placeholder="우편번호" readonly onclick="findAddr()"> <input
						id="com_addr" type="text" class="form-control" name="mCompanyAdd"
						placeholder="주소" readonly> <br> <input
						id="com_addr_detail" type="text" class="form-control"
						name="mAddrDetail" placeholder="상세 주소">


					<div style="margin-top: 20px; text-align: right;">
						<button type="button" class="btn btn-primary" id="saveCom">저장</button>
						<button type="button" class="btn btn-danger" id="cancleCom"
							onclick="window.close()">취소</button>
					</div>
			</form>
			<!--자재 정보 등록 form end-->
		</div>

		<script>
			// 거래처 정보 등록
			$('#saveCom').on('click', function() {
				$('#comFrm').submit();
				// 같은 경로를 두번 작성 하면 데이터가 안 넘어감 주의 
			});

			function findAddr() {
				new daum.Postcode(
						{
							oncomplete : function(data) {
								var roadAddr = data.roadAddress; // 도로명 주소 변수
								var jibunAddr = data.jibunAddress; // 지번 주소 변수
								// 우편번호와 주소 정보를 해당 필드에 넣는다.
								document.getElementById('com_post').value = data.zonecode;
								if (roadAddr !== '') {
									document.getElementById("com_addr").value = roadAddr;
								} else if (jibunAddr !== '') {
									document.getElementById("com_addr").value = jibunAddr;
								}
							}
						}).open();
			}
		</script>
	</div>
	<!-- end of layout -->

</body>
</html>