<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prj.cosm.user.alert.mapper.AlertMapper">
	<!-- 알림 전체조회 -->
	<select id="getAlertList" resultType="AlertVO">
	SELECT alert_no, users_id as alert_send, alert_content FROM alert a JOIN users u ON a.alert_send = u.users_no WHERE alert_receive = #{usersNo} AND a.code_no ='K0101' ORDER BY alert_no
	</select>

	<!-- 알림 단건조회 -->
	<select id="getAlert" resultType="AlertVO">
	SELECT alert_no, users_id as alert_send, alert_content, alert_date FROM alert a JOIN users u ON a.alert_send = u.users_no WHERE alert_no = #{alertNo}
	</select>

	<!-- 알림 생성 -->
	<insert id="insertAlert" parameterType="AlertVO">
	<selectKey keyProperty="alertNo" resultType="Integer" order="BEFORE">
	SELECT NVL(MAX(alert_no),0)+1 FROM alert
	</selectKey>
	INSERT INTO alert(ALERT_NO,ALERT_SEND,ALERT_RECEIVE,ALERT_CONTENT)
	VALUES(#{alertNo},#{alertSend},#{alertReceive},#{alertContent})
	</insert>
	
	<update id="updateAlert" parameterType="AlertVO">
	UPDATE alert SET code_no = 'K0102' WHERE alert_no = #{alertNo}
	</update>

</mapper>