<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout}">

<head>

<title>insert orders main</title>
<body>
	<div layout:fragment="content">


		<div style="width: 40%; position: relative; top: 50px;">
			<!-- onsubmit="return formOption" -->
			<form id="insertFrm" action="/orders/insertOrderData" method="post">
				<h2>주문등록</h2>
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
				<table id="table">
					<tbody>
						<tr>
							<th>제품명</th>
							<td><input type="text" id="goodsName" name="goodsName"
									value="TPA502" readonly="readonly"></td>
						</tr>
						<tr>
							<th>납기일자</th>
							<td><input type="date" id=deliveryDate name="deliveryDate"></td>
						</tr>
						<tr>
							<th>수량</th>
							<td><input type="number" id="totalNum" name="totalNum"></td>
						</tr>

						<tr>
							<th>비고</th>
							<td><input type="text" id="note" name="note"></td>
						</tr>

						<tr>
							<th>총금액</th>
							<td><input type="number" id="totalPrice" name="totalPrice"></td>
						</tr>
					</tbody>
				</table>
				<hr>
				<button id="orderBtn" type="submit" class="btn btn-primary">주문</button>
				<button type="button" class="btn btn-secondary"
					onclick="location.href='/top'">취소</button>
				<input type="hidden" id="usersNo" name="usersNo">
			</form>
		</div>
		<hr>



		<script>
			$('#usersNo').val('[[${session.usersNo}]]');
			
			$('#totalNum').on('change', function(){
				//완제품 1개인경우 
				if($('#goodsName').val() == 'TPA502') {
					$('#totalPrice').val($('#totalNum').val() * 100000);
				}
				
				if($('#totalNum').val() <= 100000 ){
					alert('최소 수량보다 작습니다');
					$('#orderBtn').attr('disabled', true);
				} else {
					
				$('#orderBtn').attr('disabled', false);
				}
				
			});
			
			/*-----------------
			주문등록 버튼 클릭이벤트
			-------------------*/
			//moq=100000
			

		</script>
	</div>
</body>
</html>